[2018-08-14 15:47] bzz opened #30 "Publish a docker image \w analyzer"
As [we have discussed](https://github.com/src-d/minutes/pull/303/files#diff-4ecef06bb119c76851db7bd0fd9d8170R81), In order to start using this analyzer on staging deployment of the lookout, we need to have it's docker image and the best way to share it is to published it on srcd DockerHub.

A simple way to do it is using https://github.com/src-d/ci/tree/v1#docker-build-and-push though a regular re

[2018-08-15 15:38] vmarkovtsev commented on #30
So the docker image is pushed after each PR merge since July. Here is the magic command which you need:

[code]

`lookout.style.format` chooses the format analyzer which is currently dummy and will change in the future (in a few weeks).

`0.0.0.0:2000` is the grpc service listen address. By default, the data service is supposed to be the same IP but port `10301`. Override this with `--request-serv

[2018-08-15 15:42] vmarkovtsev commented on #30
As of today we are bound to the schema at [5da09179136f01a51f73bd5cbc2b576af6f48aad](https://github.com/src-d/lookout/commit/5da09179136f01a51f73bd5cbc2b576af6f48aad)

[2018-08-16 09:03] bzz commented on #30
So cool! 🤝

Let me try it out and close the issue

[2018-08-16 17:43] bzz commented on #30
Steps I have tried:

[code]

That resulted in analyzer log

[code]

This does not happen to me with `python3 -m lookout run lookout.style.format -s`

[2018-08-16 18:05] rporres commented on #30
@vmarkovtsev How is the analyzer accessing data in `--fs XXX` in terms of read/write operations? I'm thinking about the type of storage that should be configured.

[2018-08-16 20:17] vmarkovtsev commented on #30
@rporres it is sequential RW

[2018-08-17 09:05] rporres commented on #30
@mcuadros @smola This is the kind of things to consider when we discuss storage in production cluster. Most likely we will need some kind of shared storage to keep this data.

[2018-08-17 09:40] smola commented on #30
@rporres Definitely, either HDFS or Gluster could do a good job here.

[2018-08-17 13:43] bzz commented on #30
I could move forward with running a Docker image by setting `MODELFORGE_VENDOR` env var, @vmarkovtsev do you think it should be done in the Dockerfile ?

[code]

[2018-08-17 15:24] rporres opened #42 "Create database on init job"
It would make analyzer much easier to deploy. It would also avoid using an internal database (postgres) for an application in the example.

[2018-08-17 15:26] rporres opened #43 "JSON logging"
JSON is the standard logging format for source{d} applications in production. It doesn't have to be the default, just to have the possibility to switch it on with an env variable or from the command line

[2018-08-17 15:46] vmarkovtsev commented on #43
This is already implemented.

[2018-08-17 15:46] vmarkovtsev commented on #42
This is already implemented.

[2018-08-17 15:55] vmarkovtsev commented on #30
I will definitely fix this, somehow did not hit this problem when I tested.

[2018-08-17 15:58] rporres commented on #42
I've been using latest docker image and this was the error I got

[code]

Is there a flag to pass or should I wait for a new Docker image to be pushed?

[2018-08-17 15:59] rporres commented on #43
Which is the flag I should be passing?

[2018-08-17 16:02] vmarkovtsev commented on #42
I don't know how exactly you run the image but there is "init" command which should do it. Is it the output from that command?

[2018-08-17 16:05] vmarkovtsev commented on #43
Should be `--log-structured` (I wrote a cool description of everything in `--help` which is git-like).

[2018-08-17 16:06] rporres commented on #43
Testing that, thx!

[2018-08-17 16:08] rporres commented on #42
I followed the instructions on the README

[code]

[2018-08-17 16:14] vmarkovtsev commented on #42
OK I will fix this then (not today though - I am enjoying my day off).

[2018-08-17 16:26] vmarkovtsev commented on #43
I am writing to stdout. Does it want stderr instead?

[2018-08-17 16:27] vmarkovtsev commented on #43
The check is simple @rporres - run it in your terminal and you will see the jsons.

[2018-08-17 16:28] rporres commented on #43
stdout should be fine, but apparently it is not working when running under Docker...

[2018-08-17 16:37] vmarkovtsev commented on #43
I just checked and the very same image works perfectly with structured logging for me.
I think the problem is in flushing stdout.

[2018-08-17 16:38] rporres commented on #43
hmm, then why it doesn't happen with normal logging?

[2018-08-17 16:39] vmarkovtsev commented on #43
The normal logging goes to stderr which is not buffered - this is Python standard.

[2018-08-17 16:41] vmarkovtsev commented on #43
Fixed by https://github.com/src-d/style-analyzer/pull/44

[2018-08-17 16:48] rporres commented on #43
thx, @vmarkovtsev

[2018-08-17 16:51] vmarkovtsev commented on #43
The docker image is rebuilding https://hub.docker.com/r/srcd/style-analyzer/builds/

[2018-08-21 09:31] rporres commented on #43
Works fine after the fix. Thx, @vmarkovtsev

[2018-08-21 09:31] #43 closed

[2018-08-21 14:33] #42 closed

[2018-08-23 13:36] vmarkovtsev commented on #30
@bzz Should work now, leaving open for your resolution.

[2018-08-25 05:38] #30 closed

[2018-08-27 17:19] vmarkovtsev opened #65 "Return the rule for each predicted y"
We need to know which rule was activated on each sample in `Rules.predict()` in order to report it.

We also need its confidence.

[2018-08-27 17:22] vmarkovtsev opened #66 "extract_features() must save the metadata"
Each sample from X must have the corresponding vnode, so

[code]

Otherwise, it is impossible to report which column and which line corresponds to a review comment.

[2018-08-28 09:23] #65 closed, assigned to m09

[2018-08-28 09:32] m09 opened #69 "[style-analyzer] Apply the trained Rules"
I closed the other issue (about integrating everything) since we split the tasks in two chunks so that we can reference them correctly in PRs.

[2018-08-28 09:46] vmarkovtsev opened #71 "Build and publish the documentation to ReadTheDocs"
We need to build the documentation from docstrings and publish it somewhere.

I guess there are no alternatives to Sphinx (though I hate it) and ReadTheDocs.

cc/@smola

[2018-08-28 10:03] m09 opened #72 "Create NOOP class and related nodes"
At this point, we do not have a way to predict whitespace from a lack of whitespace. We also don't have a way to predict "no whitespace" from whitespace. The NOOP class will serve this purpose and will have associated nodes in-between every current node so that we are able to predict those instances.

[2018-08-28 10:55] #66 closed

[2018-08-28 13:40] #72 closed

[2018-09-03 06:05] m09 opened #92 "[style-analyzer] Find right balance to one hot encode roles"
So at this point roles are handled as ordinal data which is not allowing for good splits on roles. We should find a way to one-hot encode them. Just straight-up one-hot encoding is maybe not optimal (130+ classes) but can be an option. It should be compared with smaller number of buckets (~10, ~50) if the performance is not great.

[2018-09-03 06:13] m09 opened #93 "[style-analyzer] Fixing prediction"
At this point, for the sequence `some line of code \n` which contains an extra space before newline, our (correct given the current system) prediction would be: replace ` ` by `\n` which would lead the user to believe that the system suggests having two newlines in a row. Therefore we should probably do one or several extra passes in the model with the modifications incorporated to see if the mode

[2018-09-03 06:16] vmarkovtsev commented on #93
@m09 this is a feature, not a bug. Trailing whitespace is a universally bad practice, disregarding any formatting style.

[2018-09-03 06:16] vmarkovtsev commented on #93
Closing this if there are no counterarguments.

[2018-09-03 06:18] vmarkovtsev commented on #93
Ah but if it suggests the second new line then it's bad. Yet still not sure if we need extra passes here rather than changing our feature encoding.

[2018-09-03 06:53] m09 commented on #93
It does suggest two new lines at this point. We cannot distinguish between deletion and replacement with the current system hence this issue. It even makes me think that the noop nodes are not required since they don't allow for a general solution.

[2018-09-03 06:55] vmarkovtsev commented on #93
I see the problem, let's discuss tomorrow.

[2018-09-03 06:56] vmarkovtsev commented on #93
Tagging @egorbu

[2018-09-04 09:40] m09 opened #95 "[style-analyzer] Synchronize lookout test binary and server submodule"
As per @vmarkovtsev's suggestion in #91, we should use the hash of the submodule to retrieve a synchronized tarball.

[2018-09-04 16:11] m09 opened #96 "[style-analyzer] Skip no-op siblings when generating features"
No-op nodes are currently included in the sibling features. They are not informative and should be skipped.

[2018-09-05 13:03] vmarkovtsev commented on #69
Done

[2018-09-05 13:03] #69 closed

[2018-09-05 13:04] vmarkovtsev commented on #93
As discussed yesterday, there are two directions:

1. Importance model - on @m09
2. Negative sampling - on @EgorBu

[2018-09-05 13:05] vmarkovtsev opened #98 "Visualize the predicted changes"
Port from the research code.

[2018-09-05 13:15] vmarkovtsev commented on #95
@bzz Please ensure that there is a way to associate the low-level Python SDK with the lookout binary.

[2018-09-05 13:47] bzz commented on #95
We can have `lookout-sdk version` print the low-level SDK version number it was build across, which would be a version number of the [python library](https://pypi.org/project/lookout-sdk/)

[code]

[2018-09-06 07:35] EgorBu opened #103 "`analyzer list` is broken"
Hi,
functionality to provide list of analyzers is broken.
[code]

[2018-09-06 08:17] m09 commented on #92
I thought a bit about it and even with sparse matrices, we'll have to take care not to end up with too many features for the tree. At this point there is around ~130 possible roles and this gets multiplied by all the siblings (left, parents, right) ie, with default parameters, by 12.

This means that if we don't bucket we have around 1500 features just for the roles. In my experience this is way t

[2018-09-06 08:37] zurk commented on #92
it is a lot I agree. I think once we definitely should make embeddings for Roles.

[2018-09-06 08:40] m09 commented on #92
Yes if we are ok with having an external training phase it would be great to replace those with small embeddings (dimension 10 max?) to keep the feature space reasonnable.

[2018-09-06 08:46] vmarkovtsev commented on #92
Once we have embeddings we will not be able to explicitly express the learned rules, no?

Otherwise it is very easy to train - they are graph embeddings of each node. Not for Q3 though - too little time.

[2018-09-06 08:49] m09 commented on #92
It's true that it's not interpretable.

[2018-09-06 08:55] zurk commented on #92
I think that we should have a pretraining model for each language we analyze, so there is no additional time cost for one more training.
So, it is something like take a PGA -- > get role co-occurrence matrix --> run swivel.

To get co-occurrence matrix we can do the same thing we do for identifiers: add +1 co-occurrence for Roles in one scope. It is easy to code, but a lot of time to get the model

[2018-09-06 08:55] m09 commented on #96
So I just had a look at that and while writing some tests I discovered that there are basically noop nodes hanging around here (`VirtualNode("", start=(14, 2, 1), end=(14, 2, 1), node=None)`). I'll further investigate later on. WIP in #104.

[2018-09-06 08:56] zurk commented on #92
actually it is interpretable. It each leaf we will have the subset of Roles. The same thing we have now I beleve.

[2018-09-06 08:58] m09 commented on #92
it is not interpretable in the sense that you can't modify the rules since they are operating in embedded space.

[2018-09-06 09:51] vmarkovtsev commented on #92
We can design the optimal bucketing scheme by clustering the roles embedding space.

[2018-09-07 10:19] EgorBu commented on #103
Should be fixed with https://github.com/src-d/style-analyzer/pull/105

[2018-09-07 10:19] #103 closed

[2018-09-10 06:18] EgorBu commented on #98
Updates:
1) related PR  https://github.com/src-d/style-analyzer/pull/114
2) dataset level quality report - classification report & print top-k files with worst performance
3) file level - print file and highlight mispredictions

[2018-09-10 12:04] zurk commented on #92
I make experiments with one hot encoding preprocessing and here is the first results:
1. BayesSearchCV gives a weird error if I use sparse matrix. So, It just cannot handle it. To test everything I convert it to regular ndarray (yeap, memory inefficient). I set `n_iter=10`
2. I use `freecodecamp` data from tests to test the performance.
3. Training without one-hot-encoding gives 34 features and 0.

[2018-09-10 13:29] vmarkovtsev commented on #92
@zurk BayesSearchCV is just a wrapper, if the underlying model supports sparse input then it should work. What is the error you get?

[2018-09-10 13:57] m09 commented on #92
@zurk it's weird, their documentation does mention `X : array-like or sparse matrix, shape = [n_samples, n_features] The training input samples.`.

[2018-09-10 14:04] zurk commented on #92
I also think that it is strange. ok, let me look a little bit deeper.

[2018-09-10 17:50] zurk commented on #92
yeap, I was able to fix it.

[2018-09-10 17:54] m09 commented on #92
Are the running times any better?

[2018-09-13 15:26] zurk commented on #92
Ok. here is my results.
1. I implement several ways of Roles features preprocessing:
  a. one-hot encoding
  b. bucketing (split categorical features to several categorical (see here: https://github.com/src-d/style-analyzer/pull/116/files#diff-f778fb4562b4ded91223ccd22dd95b08R199) )
  c. feature hashing.
2. I measure time and performance on our test `freecodecamp` data for two dimensions 10 and 40

[2018-09-13 15:30] zurk commented on #92
my PR #116 is ready for review but I am not sure we should include this code if we have no plans to use it.

[2018-09-13 17:32] m09 commented on #92
I think we're going in the wrong direction here. "Direct bucketing" and "direct hashing" cannot help in our case. Bucketing as done in sklearn only reproduces the problem we have a certain number of times in smaller cases. It won't prevent the theoretical problem that the algorithm still can't find an entropy minimizing split if we have random features in each bucket. Hashing is even worse in a se

[2018-09-13 20:18] vmarkovtsev commented on #92
@m09 Here are my thoughts on this. Our problem is that we have too few splits on the role feature, correct? Maximum two actually. If we hash the roles into n dimensions then we will be able to split 2n times which is way better. Can this simple hack work?

I am afraid that any other co-occurrence heuristic will not help us because each role is unique and the co-occurrence does not mean anything fo

[2018-09-14 07:17] m09 commented on #92
Oh I read too fast about the hash method. I though we were just hashing to n_features values, which should not make any difference compared to what we have now so that explains the difference in performance.

Still, bucketing gives us guaranteed `n_buckets * 2` separable values while hash gives us `n_features * 2` separable values that can collide (if the extrema in several dimensions are the same

[2018-09-18 09:02] zurk commented on #92
1. Did not think about collisions, good point, @m09. But I am not sure we have them in our case when we embed ~200 features into ~10 dim space. Anyway, I also prefer bucketing to hashing. I code it just for experiments.
2. I like all ideas @vmarkovtsev suggested:
    a. Encode roles with respect to frequencies.
    b. Use bblfsh universal Roles to encode. However, still a lot of them  -- 119. So i

[2018-09-18 10:23] vmarkovtsev opened #118 "Fix the single quote misprediction"
As shown in @EgorBu's examples, sometimes we predict pair quotes wrong - they do not match, e.g. `'test"` or `"test'`. We need to figure out why and fix this.

[2018-09-18 10:29] EgorBu commented on #93
Before making negative sampling I decided to understand what should be sampled. I did error analysis & visualization tools (https://github.com/src-d/style-analyzer/pull/114).
Error report without auto-generated files:
[code]
So the importance order (most -> least): `<-space>`, `'`, `<+space>`, `<newline>`

[2018-09-18 11:31] vmarkovtsev commented on #92
@zurk Regarding the universal 119 roles - not everything is used for every language. We can further coerce rare roles into one.

[2018-09-18 13:14] m09 commented on #93
To be able to properly measure anything I wanted to get rid of a few bugs before implementing that. I felt that if I didn't I would just be measuring random interaction between the bugs and my prediction correction (since I'm correcting what is currently failing and what currently fails mainly fails due to bugs):

1. we had many empty nodes created. I still need to fix [one place](https://github.c

[2018-09-18 15:03] zurk commented on #92
Yup, you are right. I calculate frequencies for JS dataset, that Warren collected (images are clickable):
1. JS internal roles number: 151.
1. JS UAST roles number: 88.
1. Internal roles distribution (y scale is logarithmic here and everywhere):
![image](https://user-images.githubusercontent.com/516045/45696335-0e904c80-bb6c-11e8-88e9-d67b2808e21b.png)
1. UAST roles distribution:
![image](https://

[2018-09-18 15:04] zurk commented on #92
So, the last two options look promising. I will implement both

[2018-09-18 15:16] vmarkovtsev commented on #92
There is a clear tradeoff between the granularity of roles and the model's accuracy. You are using `2 * mean` but actually this is a hyperparameter which should be pre-tuned.

[2018-09-18 15:19] zurk commented on #92
of course.

[2018-09-18 15:40] m09 opened #120 "Fix config inconsistencies"
While trying to apply external config to an analyzer, I noticed several inconsistent points:

- in [manager.py](https://github.com/src-d/style-analyzer/blob/master/lookout/core/manager.py#L55), we use the class name of the analyzer to request a config object to the lookout server but the analyzer is known by its module to the lookout server. So we'll ask for the config of `FormatAnalyzer` but it'l

[2018-09-18 16:31] vmarkovtsev commented on #120
According to [PEP 3155](https://www.python.org/dev/peps/pep-3155/) we can use `__qualname__` to fix the first point, BUT you need to check how it works with plain file names - we support them besides imports.

As for the second point, `analyze()` is an instance method as supposedly review events are more frequent than pushes. So you can override the class constructor.

[2018-09-18 16:35] m09 commented on #120
`__qualname__` is not usable I think since with the `analyzer_class` mechanism we can end up with classes in different depths. Ie here it's in `lookout.style.format.analyzer` but in some other package it might have been in `lookout.style.format.core.analyzer`, which means we can't just take qualname and remove a level.

[2018-09-19 08:45] m09 commented on #118
as discussed yesterday in slack, this is closely related to #92 since with correct role information the model should have no problem prediction the correct quote (different quotes have different roles in the pipeline).

[2018-09-19 14:02] vmarkovtsev commented on #93
1. Dense/sparse one-hot encoded features using domain knowledge - Hugo.
2. Internal types -> unified roles - Egor.
3. Bucket reserved tokens using domain knowledge - Konst.
4. +space/tab x2 x4 x8 -space/tab - Waren.

5. Split internal types by case -> one-hot.
6. Class weights.
7. Embedding on co-occurrence + clustering.
8. Metadata visualization for features (Egor's).

[2018-09-19 14:10] zurk commented on #93
@m09 it can be helpful to use my code for Roles preprocessing for experiments: https://github.com/src-d/style-analyzer/pull/116

[2018-09-20 07:40] zurk commented on #92
Related PR: https://github.com/src-d/style-analyzer/pull/124
I add a code to calculate internal and universal roles frequencies for bucketing implementation discussed above.

[2018-09-20 12:27] EgorBu opened #129 "[improvement] SQLAlchemy check"
Check SQLAlchemy before long training & optimization of rules to avoid the situation like this:
[code]

[2018-09-20 17:58] m09 commented on #118
Now that we made progress on role encoding, it appears this class of mistakes might well be different from others. This is from a recent test after role remodeling:
[code]

Here we can see that we have only 216 double quotes in the project, compared to the 5674 single quotes. That makes the double quotes prediction super error-prone since the support is so brittle. We'd therefore might need some s

[2018-09-20 18:57] vmarkovtsev commented on #118
@m09 We need to analyze the single quotes in this example ofc, but most likely we should always predict the dominating quote unless there are super confident counter rules.

[2018-09-21 12:44] m09 commented on #118
I agree. And we can postprocess `StringLiteral`-s to achieve so if the model fails to always be consistent even though it's super ad-hoc.

[2018-09-24 07:12] m09 opened #145 "Feature extraction parameters should be saved in modelforge models."
At this point, the modelforge model contains, in addition to the rules themselves, the parameters used during the training of the rules. This doesn't include the parameters used during feature extraction, which are the only one needed to properly apply the rules to new data.

[2018-09-24 08:16] m09 commented on #145
The saved parameters should also be used instead of the config ones in the `analyze` method of `analyzer.py`.

[2018-09-24 08:44] zurk commented on #145
I think it is also useful to add config info for unavoidable future model analysis.

[2018-09-24 10:19] m09 commented on #145
yes, just saving the complete config seems reasonable to me.

[2018-09-26 08:45] zurk opened #157 "Style analyser failed to analyse with relation "models" does not exist"
[code]

[2018-09-26 10:39] zurk opened #160 "Model trained but nothing inside (no javascript language)"
[code]

[2018-09-26 10:45] m09 commented on #160
We'd more info about the branch you're using and the command used to produce this model

[2018-09-26 10:53] zurk commented on #160
no worries I do this issues to track my progress.
So it is totally fine because I start from an empty repo, so it behaves like it should.

[2018-09-26 10:53] #160 closed

[2018-09-26 10:55] m09 commented on #160
Ok. Don't hesitate to assign yourself if you don't need us taking actions :)

[2018-09-26 11:05] zurk commented on #160
I cannot, I need proper permissions.

[2018-09-26 13:22] zurk opened #161 "Add more properties for protected attributes of classes"
See related discussion:
https://github.com/src-d/style-analyzer/pull/152#discussion_r220461975

@m09, can you please assign me, add the enhancement label and put to Machine Learning project?

[2018-09-26 13:32] vmarkovtsev commented on #93
Add OHE of the quotes.

[2018-09-26 13:32] vmarkovtsev commented on #145
@zurk Please post the PR here.

[2018-09-26 13:33] vmarkovtsev commented on #92
Done

[2018-09-26 13:33] #92 closed

[2018-09-26 13:33] vmarkovtsev commented on #92
We will file separate issues for specific problems.

[2018-09-26 13:34] vmarkovtsev commented on #118
We still mispredict quotes as Egor chosed on ML planning. We will OHE them.

[2018-09-26 13:36] vmarkovtsev opened #162 "Setup style-analyzer deployment"
- [x] Laptop
- [ ] local-gpu cluster

[2018-09-26 13:56] vmarkovtsev opened #163 "Add the true evaluation metric"
Change the evaluation script to introduce random changes to code and how the model detects and fixes them.

[2018-09-26 14:22] zurk commented on #118
@vmarkovtsev let reassign @EgorBu since he is going to implement it?

[2018-09-26 15:55] vmarkovtsev commented on #118
Indeed, thanks @zurk

[2018-09-26 20:56] #157 closed

[2018-09-27 09:25] smola opened #166 "lookout/core/langs not copied into Docker image"
[code]

We should simplify the copying operations in Dockerfile to something that covers the whole package without the risk is missing a subdirectory:
https://github.com/src-d/style-analyzer/blob/93155e4de3a3b4fb2e585c92cc7923e447fa6196/Dockerfile#L27

[2018-09-27 17:58] m09 commented on #145
Fixed by #152.

[2018-09-27 17:58] #145 closed

[2018-09-27 20:14] zurk opened #172 "add a test to cover asdf serialization error"
Just a reminder for myself
https://github.com/src-d/style-analyzer/pull/171

[2018-09-28 10:09] smola opened #175 "installing requirements.txt fails with Python 3.7"
See https://github.com/snowballstem/pystemmer/issues/18

It seems adding `cython` explicitly to requirements.txt could solve the issue.

cc @zurk

[2018-09-28 10:17] smola opened #176 "Environment configuration on CLI"
- Environment configuration should be read from environment variables (database, filesystem paths, endpoints). It's useful to have them as CLI flags too (see borges for an example, which uses both), but environment variables are usually more convenient to reuse them. YAML config is something we have avoided so far in other projects.
- Default values should be provided where it makes sense. For exa

[2018-09-28 10:29] smola opened #177 "on review: ValueError: need at least one array to concatenate"
I have executed this on gitbase-web:

[code]

style-analyzer fails with this error:

[code]

[2018-09-28 10:41] smola opened #178 "KeyError: 'NOOP' when training on freeCodeCamp"
[code]

[code]

[2018-09-28 10:54] vmarkovtsev commented on #176
Environment variables should be already supported thanks to the package we use for parsing the command line.

But anyway I don't like env vars because they make the configuration implicit compared to explicit pointing to the configuration file. I had so much bad experience with implicit expectation of the environment vars in different applications.

[2018-09-28 10:56] vmarkovtsev commented on #176
@smola not sure if we are on the same page: command line arguments are currently duplicated in the config file, and the user is not required to use a configuration file at all.

[2018-09-28 10:58] m09 opened #179 "Document the 1.2 javascript driver requirement more explicitly"

[2018-09-28 11:04] m09 commented on #178
This is due to style-analyzer only being compatible with the 1.2 javascript driver. I'll close this one since we opened #179 to better to document this shortcoming.

[2018-09-28 11:04] #178 closed

[2018-09-28 11:07] m09 commented on #177
This should be fixed by #165. It was merged recently so you maybe still have an older version. Please update your version and let us know if it still fails.

[2018-09-28 11:08] smola opened #180 "FeaturesExtractor:could not parse file common/utils/encode-decode.js with error 'missed some imaginary tokens:"
I get this warning:

[code]

The problem seems to be here: https://github.com/jlouiss/freeCodeCamp/blob/ff07a3637863ed15439acab642818d6e368d3c08/common/utils/encode-decode.js#L23

[2018-09-28 11:46] zurk commented on #175
so, the PR into sourced-ml (https://github.com/src-d/ml/pull/319) should fix installation like
[code]

but the problem is deeper and it is not solving regular installation `pip3 install .` See all details in a related issue: https://github.com/src-d/ml/issues/318

[2018-09-28 12:12] #177 closed

[2018-09-29 22:12] zurk commented on #162
Can not check the first point 🤔. Everything works great.
local-gpu cluster on the way.

[2018-09-30 14:54] zurk commented on #180
ok, I found the reason. https://github.com/bblfsh/javascript-driver/issues/37, for now, I add a workaround. Sorry, @m09 for stealing your issue :)

[2018-09-30 14:56] m09 commented on #180
This is normally handled by
[code]
This case fails for some other reason if I didn't miss anything.

[2018-09-30 15:06] zurk commented on #180
the problem is in a comment here. Because the comment is a child of regexp node:
for this code
[code]

UAST gives:
[code]

[2018-10-01 12:09] zurk commented on #162
We already have a lookout on staging:
[code]
But we do not have a proper release process for style-analyzer. Right now we just update `latest` tag on docker hub: https://hub.docker.com/r/srcd/style-analyzer/tags/.

My next steps:
- [ ] Ensure that style-analyzer on staging works.
- [ ] Review how everything works for https://github.com/src-d/lookout and https://github.com/src-d/lookout-sonarcheck-

[2018-10-01 20:40] #180 closed

[2018-10-02 07:40] m09 opened #197 "Test that viz tools launch correctly"
Integration tests are needed to make sure that the visualization tools can actually launch since many times recently we had PRs making them out of sync without the CI noticing.

[2018-10-02 07:40] m09 commented on #197
(Should be done after the demo)

[2018-10-02 09:35] vmarkovtsev commented on #118
Current approach: we remove the quote from the right if we predict the left one but we don' t do anything otherwise so the problem may still appear.
The best solution seems to be the removal of the quote feature on the left when we predict the one on the right.

[2018-10-02 09:38] vmarkovtsev opened #198 "Issue for Hugo to create a Hacktoberfest issue on improving the web visuals"

[2018-10-03 12:03] zurk commented on #162
I was busy with different demo-related stuff. Now back to this issue.

[2018-10-03 12:52] zurk opened #201 "Fix docker image"
Right now it gives
[code]

Please assign me.

[2018-10-03 14:20] vmarkovtsev commented on #163
Add the script to evaluate the metric.

[2018-10-03 14:41] zurk opened #202 "Give @zurk proper rights"
I want to bother you less when I create issues for myself.
So all that I only will do is to label issues and assign it to myself.

I think it is possible to give me write access as a developer and restrict commits to master.

@vmarkovtsev this one is for you.

[2018-10-03 14:42] zurk commented on #201
ok, it is a duplicate of https://github.com/src-d/style-analyzer/issues/166

[2018-10-03 14:43] zurk commented on #166
@m09 can you assign me here, please?

[2018-10-03 14:43] #201 closed

[2018-10-04 08:08] m09 commented on #198
I'll put one up as soon as the related PRs are merged.

[2018-10-04 10:19] m09 opened #205 "Add comment when we filter a file to explain the lack of comments to the user"

[2018-10-04 10:41] zurk commented on #205
we should also have an option to disable (or may even disable by default) it because it can be annoying.

[2018-10-04 13:11] vmarkovtsev opened #207 "Collect a dataset of handcrafted WTF-s"
E.g. we have “if (blah…” everywhere and need to correct “if( blah…”

[2018-10-04 13:32] zurk commented on #202
Hooray

[2018-10-07 22:30] m09 opened #212 "Have a synchronized and complete documentation"
ATM our documentation suffers from documentation drift and incompleteness. #211 adds CI checks so that that stops happening in the future, but existing files are not in those checks yet since they trigger many errors. Here is the list of files to correct before we can close this issue:

- [ ] `lookout/core/analyzer.py`
- [ ] `lookout/core/cmdline.py`
- [ ] `lookout/core/data_requests.py`
- [ ] `lo

[2018-10-08 10:58] vmarkovtsev opened #214 "Tests require longer than 20 minutes"
We need to optimize our tests in CI.

1. Put necessary long-running tests to the separate environment variable switch (I think we have it already)
2. Reduce the sizes
3. Optimize for speed

[2018-10-08 12:39] m09 commented on #214
Here are the current running times for tests that take more than 1 second:

[code]
It seems it's mainly the feature tests that take lots of time. That must be because in latest PRs we activated all OHEs and the number of columns x2ed or x4ed depending on previous config.

[2018-10-08 14:36] #214 closed

[2018-10-08 15:45] m09 opened #216 "File upload for the visualizer"
At this point the visualizer uses a textarea and requires copy-pasting content in order to analyze a file. It'd be better to be able choose files (or even better folders) and apply the analysis on those.

[2018-10-09 09:35] warenlg commented on #163
After many experiments, to avoid shifting and mapping issues due to different sized features, It turns out the safer metric to start with is comparing :
1. the model prediction on random style mistakes (1 mistake per file)
2. with the ground truth label of the original file at the same offset

I compiled such quality reports with the script https://github.com/src-d/style-analyzer/pull/218. For exa

[2018-10-09 12:10] EgorBu commented on #197
PR related to this issue: https://github.com/src-d/style-analyzer/pull/217

[2018-10-09 13:26] zurk opened #221 "Rule pretty printing bug: {BODY ≥ 1}"
I see one rule like this:
[code]
We should check if Roles rules are printed correctly.

[2018-10-09 13:41] m09 commented on #221
Why do you think it's a bug? Roles are a set of ordinals, it seems correct to me

[2018-10-09 15:13] zurk commented on #221
oh, it is true. but one Node cannot contain two same Roles. So it is better to have it in the same format:
 `parents.0.roles in {BODY}`

[2018-10-09 15:33] m09 commented on #221
Ok I misunderstood some discussions we had when we coded Roles then, I thought it happened in some cases. Then indeed we have to switch to normal OHE display. I'll PR.

[2018-10-09 16:53] #166 closed

[2018-10-10 14:12] EgorBu opened #226 "Suspicious results of `eval` & `rule_stat`"
Hi,
I checked quality with current master using `eval` and quality drop is significant:

<details>

[code]

</details>

and stats about used rules

<details>

[code]

</details>

[2018-10-10 18:07] m09 commented on #226
I cannot reproduce:

<details>
<summary>Training log</summary>

[code]
</details>

<details>
<summary>Eval log</summary>

[code]
</details>

<details>
<summary>Rule log</summary>

[code]
</details>

Though I can see that there is a bug in rule descriptions, will fix in same PR as the one addressing #221.

[2018-10-10 19:18] m09 opened #229 "Improve the visualizer"
The web-based visualizer we currently have could be improved in many ways on the web-design front. Any improvement is welcome for Hacktoberfest. To list a few:

- add timeout to queries to the server
- improve CSS, layout
- provide a better way to input code (by file upload or giving the path to the server and displaying a file navigator on the client, etc)
- …

[2018-10-10 19:18] m09 commented on #198
closed by #229.

[2018-10-10 19:18] #198 closed

[2018-10-11 06:29] vmarkovtsev commented on #229
This is how it looks like currently: ![img](https://user-images.githubusercontent.com/2793551/46748584-29aa3400-ccb4-11e8-8c60-4c136aa6d43b.png)

[2018-10-11 06:29] vmarkovtsev commented on #229
Manual how to run: https://github.com/src-d/style-analyzer/tree/master/lookout/style/format/visualizer

[2018-10-11 06:30] vmarkovtsev commented on #229
@m09 Would be great if you attach here a sample `model.asdf` so that everybody can easily test.

[2018-10-11 10:10] EgorBu commented on #197
PR was merged - do you have any other ideas what else should be checked before closing this issue? @m09

[2018-10-11 10:17] m09 opened #232 "Docker support for visualizer"
We need an easy way to launch the visualizer for the product team and hacktoberfest. Probably docker-compose bblfsh and the flask server (maybe also the npm server even if this one is easier to install/launch).

[2018-10-11 10:49] m09 commented on #197
No it seems perfect, thanks @EgorBu for the PR :+1:

[2018-10-11 10:49] #197 closed

[2018-10-11 13:09] zurk commented on #232
oh, @m09, I misunderstood you in the meeting, I think it is about style-analyzer only without visualization tool. I deal with `npm` and `flask` just a few times, so it takes more time for me. I think it should be delivered faster than I can do.

[2018-10-11 14:40] m09 commented on #161
I don't think so actually, almost all our constructor arguments are read-only and only a very small fraction of them are properties right now. I don't like to over-use properties anyway so I'm fine with closing but we have an inconsistent policy atm.

[2018-10-11 14:56] vmarkovtsev commented on #161
So reopened.

[2018-10-11 18:05] m09 commented on #232
Ok I'll take over then :) Related PR: #236

[2018-10-16 09:54] m09 commented on #226
@EgorBu, do you still have this problem?

[2018-10-16 19:53] EgorBu commented on #226
Yes, still have problems.
I used bisect to find commit where things go wrong:
[code]

I don't know what exactly wrong - I will continue investigation.
Additional details - launching the same model on the same dataset twice gives different results:

<details>

<summary>Logs from 2 queries</summary>

[code]

[2018-10-17 01:20] mKleinCreative commented on #179
there's an error in the title, Explicitly* do I get a t-shirt?

[2018-10-17 05:48] m09 commented on #179
It's a good start for sure :smile:

[2018-10-17 06:12] m09 commented on #226
Can you also give your training code?

[2018-10-17 06:33] m09 commented on #221
Close via #237.

[2018-10-17 06:33] #221 closed

[2018-10-17 06:47] m09 commented on #205
Fixed by #199.

[2018-10-17 06:47] #205 closed

[2018-10-17 08:01] EgorBu commented on #226
Analyzer:
`analyzer run lookout.style.format -c config.yml --log-level DEBUG`
with config:
[code]
Training query
[code]
I'm using the latest [`lookout sdk`](https://github.com/src-d/lookout/releases/tag/v0.2.0)

[2018-10-17 08:12] m09 commented on #226
Ok, just to be sure I also trained in this way (even though it shouldn't differ that much from the research script) but I still cannot reproduce :(

[2018-10-17 08:14] EgorBu commented on #226
yes, it's super strange (especially part where 2 `eval` queries give different results - I don't understand how it could be randomized).

[2018-10-17 08:15] m09 commented on #226
just to make sure: how do you pick up the model after training?

[2018-10-17 08:42] vmarkovtsev commented on #226
@EgorBu @m09 do not forget to sync your package versions from the requirements.

[code]

[2018-10-17 08:44] EgorBu commented on #226
[code]

[2018-10-17 08:52] m09 commented on #226
I have the same except for pandas but it should only be used by typos.

[2018-10-17 08:57] m09 commented on #226
Aaaaaaaah, I can reproduce with python 3.5, nice. I'll look into it now :)

[2018-10-17 09:01] EgorBu commented on #226
yes, I'm using
[code]
which version did you use before?

[2018-10-17 09:01] m09 commented on #226
I usually use `Python 3.6.4`

[2018-10-17 09:03] EgorBu commented on #226
interesting what could cause the difference in behaviour between versions

[2018-10-17 09:12] #172 closed

[2018-10-17 10:38] #163 closed

[2018-10-17 10:49] vmarkovtsev commented on #226
I remember that @smacker told us that Apollo worked differently on different Python versions.

So eager to find out what's the problem. Also curious why the tests did not catch that. Given the fixed random seeds, all the tests should work the same.

[2018-10-17 10:53] m09 commented on #226
It should be fixed by #240. With the PR back on forth of #204 I introduced an extra data-structure that should have been ordered and wasn't. Python 3.5 doesn't guarantee the order of keys during iteration but 3.6 does as @EgorBu found out.

[2018-10-17 11:04] m09 commented on #226
@vmarkovtsev regarding tests not catching it, it should be because the order is consistent in a single python interpreter.

[2018-10-17 11:08] smacker commented on #226
Oh. The mystery solved! Thanks!

P.S. I'm not sure if there is such bug in Apollo right now. We use a quite old version.

[2018-10-17 11:38] #226 closed

[2018-10-17 11:53] #179 closed

[2018-10-18 08:55] vmarkovtsev commented on #175
Does it work now @zurk ?

[2018-10-18 08:57] vmarkovtsev opened #244 "Resolve the security issue warning"
We need to update Bootstrap or do smth else to get rid of

![screen shot 2018-10-18 at 10 54 41](https://user-images.githubusercontent.com/2793551/47143002-7dc0a400-d2c4-11e8-86f3-8a8d01339ed5.png)

[2018-10-18 08:58] vmarkovtsev commented on #162
@zurk Do we have a helm chart as mentioned in the previous comment?

[2018-10-18 09:00] m09 commented on #244
I don't see it for some reason and when I go to Insights > Dependency Graph > Dependencies, there is no alert :(. Can you screenshot the security alter itself?

[2018-10-18 09:15] vmarkovtsev commented on #95
I am on it today.

[2018-10-18 09:31] zurk commented on #162
no, we do not. As I understand I should ask an infra for it after everything is running in GKE.
I can create an issue now if you want.

[2018-10-18 09:34] zurk commented on #175
Yes. You can not just run `pip3 install .`. It fails if you do not have `Cython` installed.
The current workaround is to run
[code]
or just
[code]

[2018-10-18 09:57] vmarkovtsev commented on #244
@m09 https://github.com/src-d/style-analyzer/network/alert/lookout/style/format/visualizer/package-lock.json/bootstrap/open

![screen shot 2018-10-18 at 11 56 46](https://user-images.githubusercontent.com/2793551/47146715-edd32800-d2cc-11e8-9221-c9a061c203b3.png)

[2018-10-18 12:14] vmarkovtsev opened #246 "Release the typos analyzer"
- [x] Merge Irina's PRs
- [x] Rework the code
- [x] Pass the tests
- [ ] See how works in the wild

[2018-10-18 16:54] #95 closed

[2018-10-19 05:45] m09 commented on #244
Since we use https://react-bootstrap.github.io/ that doesn't support bootstrap v4 yet (it should come in a near future though) and since we won't expose this app publicly I think we should just dismiss the warning.

+ I don't even think it applies since I don't think I use any package that depends on scrollspy.

[2018-10-19 05:46] #244 closed

[2018-10-19 09:35] vmarkovtsev opened #254 "Build the visualizer in the CI"
We need to `npm run build` our visualizer in Travis.

[2018-10-23 09:27] #118 closed, assigned to m09

[2018-10-23 15:07] zurk opened #259 "Errors in tests we skip as long one"
If you run all tests on current mastet, you get this:
[code]

Someone should fix our long tests.

[2018-10-23 15:20] EgorBu commented on #259
at least `'/home/k/sourced/workdir/style-analyzer/lookout/core/tests/server', 'push'` - it should be `lookout-sdk review` or `lookout-sdk push`. Something wrong with paths probably

[2018-10-23 15:21] zurk commented on #259
not really, we save `lookout-sdk` as `server`: https://github.com/src-d/style-analyzer/blob/master/lookout/core/tests/server.py#L15

[2018-10-23 15:38] vmarkovtsev commented on #259
@zurk `No such file or directory: '/home/k/sourced/workdir/style-analyzer/lookout/style/format/tests/jquery'`

[2018-10-23 15:38] vmarkovtsev commented on #259
Can I close this? :trollface:

[2018-10-23 15:55] vmarkovtsev commented on #259
As far as I see all the errors come from the absent directory with the source code. So the only thing that needs to be done is to check for it properly and clone maybe if it does not exist.

[2018-10-23 17:35] zurk opened #263 "Refactor server.py"
We (will) use the file https://github.com/src-d/style-analyzer/blob/master/lookout/core/tests/server.py not only in tests but for evaluation also.

1. [ ] Refactor code and make it production-ready
2. [ ] Move file to `core` parent package.

[2018-10-24 10:34] zurk opened #266 "Split core and format python modules to two python packages."
Now there is one: https://pypi.org/project/lookout-style

We should have something like `lookout-core` and `lookout-style`

[2018-10-24 12:14] zurk opened #269 "Add make docker-test to Travis"

[2018-10-24 14:38] m09 opened #270 "Harmonize indentation increase and decrease"
-indent are put at the start of the line, +indent are put after the initial space. It makes more sense to have +indent put at the start of the line also, especially since we pack consecutive labels: this way they'll be bundled with the newline.

[2018-10-24 15:18] EgorBu commented on #259
The source code is there. BUT - it's not a git project anymore, just several files in a directory. It was changed at Oct, 15:
https://github.com/src-d/style-analyzer/commits/master/lookout/style/format/tests/jquery.tar.xz

[2018-10-24 16:11] warenlg opened #271 "Diff_col mesured from sibling-end to node-start"
In the way diff_col is currently computed, it outputs that `diff_col = 3` between `foo` and `bar`, whereas it should be 0 as they both start the line.
[code]

[2018-10-24 16:31] warenlg opened #273 "Check if the modifications of the style-analyzer do not break the code"
In theory, the analyzer could break the code or change its meaning by predicting a newline in the middle of an expression for instance. Thus, it should be valuable to check for each analyzer's modification if the parent of the node has changed or not. The modifications where the UASTs don't match should be dropped.

[2018-10-24 18:14] m09 commented on #259
I'll look into that in the coming days. I remember that I had permission problems with jquery-noisy.tar.xz's .git dir and that we didn't use it so I nuked it and I must have done the same for jquery.tar.xz even though it was used in some other tests.

[2018-10-25 00:45] EgorBu commented on #259
it should be fixed in https://github.com/src-d/style-analyzer/pull/251

[2018-10-25 09:57] zurk opened #278 "Decrease false-positive rate for lines comments next to deletion chunk."
Related discussion in the PR https://github.com/src-d/style-analyzer/pull/265

[2018-10-25 11:46] zurk opened #280 "Add suggestion line generation"
Super useful in many scenarios.

1. Helps to represent result better
2. Helps to calculate better metrics

It is better to start with this issue after PR https://github.com/src-d/style-analyzer/pull/264 is merged.

[2018-10-25 11:50] zurk commented on #270
@m09 can we actually put both after the initial space if there is no big difference for you?
It will be easier to generate a new line (with all fixes we propose) because for example for `VirtualNode` with predicted `y=<-indent>` you can insert `\b` to remove one. In case we have the initial spaces not at the beginning of the line, it is not so simple.

[2018-10-25 11:55] m09 commented on #270
I'm not sure it's easier. With the -indent before you just skip the first n indent characters, it's even simpler than writing something afterwards :)

It also makes more sense when visualizing or writing rules so I'd rather keep it this way if there is no other reason to change.

[2018-10-25 13:26] warenlg opened #281 "Add check to use neither diff_col nor diff_offset among right_features"
To avoid any leak about the node length when the sibling is after the current node, we should use neither `diff_col` nor `diff_offset` features among `right_features`. Thus, would be nice to have a check in `FeatureExtractor` for that.

[2018-10-25 14:54] vmarkovtsev opened #282 "Use signed numbers instead of left.# and right.# in the Visualizer"
I suggest to print the rule parts as

[code]

instead of

[code]

I think it will make the rules clearer: the property names will be aligned at 3 chars, also no need to parse "left" and "right".

"parents" are not touched by this.

[2018-10-25 15:58] #271 closed

[2018-10-26 08:48] zurk commented on #207
It is done and I come up with a semi-handcrafted variant in the end:
https://github.com/src-d/style-analyzer/pull/250
https://github.com/src-d/style-analyzer/pull/261
Now I continue to work with the evaluation part:
https://github.com/src-d/style-analyzer/pull/276
I think I should create a separate issue for that.

@vmarkovtsev I think we can close it.

P.S.: Small dataset description:
The dataset

[2018-10-26 08:57] zurk opened #283 "Add evaluation for smoke dataset"
Ancestor: https://github.com/src-d/style-analyzer/issues/207

Related PR: https://github.com/src-d/style-analyzer/pull/276

To continue with this issue I should solve issue https://github.com/src-d/style-analyzer/issues/280 first.

[2018-10-26 09:29] m09 commented on #282
btw I can also use `←` and `→` instead of `-` and `+` to indicate left and right (and even `↑` to indicate parents). What do you prefer @src-d/machine-learning?

[2018-10-26 09:38] #270 closed

[2018-10-26 09:47] #207 closed

[2018-10-26 09:55] vmarkovtsev commented on #282
I like minus and plus more because they are easier to see for a short-sighted human like me.

For the same reason ∧ seems better than ↑. Besides, using < and > by analogy is still not good because they are harder to distinguish from each other.

[2018-10-26 11:45] #254 closed

[2018-10-29 11:12] zurk opened #286 "Join all code related to VirtualNode classes to one class"
It helps to replace such huge imports
[code]
with just
[code]
(naming should be better.)

Also, it is a good idea to add such function as `is_emply`, `is_indentation` etc.

I can take this issue but after the release.

[2018-10-30 23:41] rporres opened #291 "Prepare project to work with source{d} Makefile.main from CI repository"
@meyskens and myself have been working to add CD to this repository but there are some missing pieces to move on.

https://github.com/src-d/style-analyzer/tree/add-cd-attempt-2 branch contains the last attempt that adds:

* An include on [Makefile.main](https://github.com/src-d/ci/blob/v1/Makefile.main) from CI repository to have deploy and docker targets
* A new job in the stage command to push d

[2018-10-31 06:58] zurk commented on #291
Thank you, guys! I am going to fix the docker image. Somehow bblfsh python package installation is failed.

[2018-10-31 07:00] vmarkovtsev commented on #282
On it today.

[2018-10-31 09:56] rporres commented on #291
I removed the `docker-build` target in that branch as it was not tagging the image using the travis tag.

[2018-10-31 12:52] #282 closed

[2018-10-31 15:43] zurk opened #295 "Add tests for `_pack_sequences` and `_add_noops` functions"
There was a bug in both: https://github.com/src-d/style-analyzer/pull/294/files

We should add tests similar to the `test_parse_file_exact_match` test.
https://github.com/src-d/style-analyzer/blob/master/lookout/style/format/tests/test_features.py#L35

[2018-11-01 12:04] m09 commented on #229
Has been updated many times since this issue and hacktoberfest is over, I close.

[2018-11-01 12:04] #229 closed

[2018-11-01 12:06] m09 commented on #93
I consider this to be fixed since sequence were merged, please reopen if needed.

[2018-11-01 12:06] #93 closed

[2018-11-05 08:18] #295 closed

[2018-11-05 10:30] #269 closed

[2018-11-05 11:54] vmarkovtsev opened #303 "Merge flake8 and docker jobs in Travis"
We run flake8 style and docker build checks in different jobs. That's fine and the best way to organize CI in an ideal world. However, we take 5 Travis slots per build which is too big at this time.

So we need to merge those two jobs together until the build slot pressure decreases.

[2018-11-07 07:55] zurk commented on #303
After discussion, we found a better way to do the same: add style-check stage.
https://github.com/src-d/style-analyzer/pull/306

[2018-11-07 12:14] warenlg opened #308 "extract_features() does not concatenate the lists of virtual nodes when analyzing several files"
Currently, when extracting features from several files, `extract_features()` returns only the virtual nodes of the last file parsed.

[2018-11-08 11:31] EgorBu opened #310 "Schedule for long running tests in travis"
Make a schedule to launch long-running tests during the weekends so we know if something is failing.

[2018-11-08 11:33] EgorBu opened #311 "Quality report test on several top repositories"
Create a long-running test to measure quality on several repositories. And it can be used to detect if we introduce quality-degradation features.

[2018-11-08 12:04] warenlg opened #312 "Create a threshold argument to limit the number of files to analyze"
As discussed during the November 8th ML sync, we believe we should limit the number of files to analyze. Indeed most of the PRs modify less than 20 files. Otherwise we would not be able to satisfy the running time constraints only because of a tiny set of heavy PRs.

[2018-11-08 12:06] zurk commented on #283
Status update:
1. #280 is ready to be merged and I continue with this issue.

After the first analysis it is clear to do the following:

1.  [ ] Add more data to smoke dataset.
2.  [ ] Try to change evaluation measure: use simple edit_distance measure without SequenceMatcher
3.  [ ] Add threshold for Rule support and confidence to evaluation part
4.  [ ] Add precision and recall metrics

[2018-11-08 12:16] warenlg opened #313 "Create a script to output a single quality report gathering all specific reports we built"
Currently, to evaluate the performance of the style-analyzer, we use 3 different quality reports:
* The one output by the `robust-eval` command that measure through precision and recall the analyzer's ability to fix artificial style mistakes in a repository.
* The one based on the smoke dataset, focusing on specific categories of style mistakes.
* The one Egor's worked on in this PR https://github

[2018-11-12 20:19] #308 closed

[2018-11-13 10:13] EgorBu commented on #311
List of repos:
[code]

[2018-11-13 10:41] zurk commented on #280
Merged.

[2018-11-13 10:41] #280 closed

[2018-11-16 10:30] zurk commented on #283
PR: https://github.com/src-d/style-analyzer/pull/319

What should be done next:
1. Add tests. As soon as I have more time.
2. Add Rule support and confidence levels.
3. Create a performance report for the team.

[2018-11-16 17:48] #273 closed

[2018-11-17 00:53] warenlg opened #321 "Fix the robust-eval command and pass the skipped tests for it"
Since the big sequence PR, tests for the robust-eval command have been skipped and a bug sneaked into the code. This has to be fixed to run the new quality report.

[2018-11-19 17:08] smacker opened #324 "style-analyzer fails on go files"
From staging logs:
[code]

[2018-11-19 18:14] vmarkovtsev commented on #324
@smacker We only support JavaScript for now.

[2018-11-19 18:46] smacker commented on #324
I understand. But I see this error propagated to lookout server.
So if I have js repository with one go file the analyzer will fail.
I'm not sure it's expected behavior.

P.S. I made this conclusion seeing logs and [this code](https://github.com/src-d/style-analyzer/blob/master/lookout/style/format/analyzer.py#L172). Correct me please if I'm wrong.

[2018-11-20 00:04] EgorBu opened #328 "Key error in postrocessing"
[code]

[2018-11-20 06:34] vmarkovtsev commented on #328
@egorbu How to reproduce, what's your environment? Please always include this information in bug reports.

[2018-11-20 09:02] EgorBu commented on #328
Yes, I will add it soon, @vmarkovtsev.

[2018-11-20 09:10] EgorBu opened #329 "Parsing error in from_node"
Feature extractor couldn't extract features from https://github.com/meteor/meteor (from `62fa9927ce34cff064cc3991439553e7c52b5258` to `c3309b123a7220ac24cbe73661184ee946bca01f`)

[code]
How to reproduce:
1) Launch format analyzer
`analyzer run lookout.style.format -c config.yml --log-level DEBUG`
2) train the model
`lookout  push ipv4://localhost:2000 --git-dir /path/to/meteor --from 62fa9927ce34c

[2018-11-20 10:57] m09 commented on #329
Thanks! Can you provide your config.yml just to make sure we use the same stuff?

[2018-11-20 10:58] EgorBu commented on #313
It could be done if all reports will be done as analyzers.
Example for quality report https://github.com/src-d/style-analyzer/pull/326

[2018-11-20 11:11] vmarkovtsev commented on #313
Ad-hoc command line entries are fine too, I think.

[2018-11-20 11:30] EgorBu commented on #329
Yes, of course. It's default one
[code]

[2018-11-20 11:44] vmarkovtsev commented on #324
@smacker This was automatically closed after the fixing PR was merged. I reopen and wait for your confirmation.

[2018-11-20 11:54] smacker commented on #324
Thanks! Changes look good. Let's confirm it works correctly on staging later. (need CD merged and new release)

[2018-11-20 12:43] zurk commented on #303
ping

[2018-11-20 12:46] vmarkovtsev commented on #303
Sorry @zurk. Done.

[2018-11-20 12:46] #303 closed

[2018-11-20 18:12] EgorBu commented on #329
One more repo with the same issue:
`https://github.com/webpack/webpack --to babe736cfa1ef7e8014ed32ba4a4ec38049dce14 --from 3e74cb428af04eedac60ae13d2420d2b5bd3bde1`

[2018-11-21 09:57] zurk opened #333 "Rename benchmark metric names"
After discussion with the team, it is clear that we should name metrics in https://github.com/src-d/style-analyzer/blob/master/lookout/style/format/benchmarks/evaluate_smoke.py in a better way.

Some of us prefer statistic style: false positive, false negative, etc. But also it is important to have human friendy `detected_wrong_fix` names. So it is good to have a class with all necessary names as

[2018-11-21 10:48] zurk opened #334 "Use github suggestion feature"
Add to lookout comments
[code]

[2018-11-22 05:05] warenlg opened #338 "Fix the UAST check that degrades the analyzer's precision"
When plotting the Precision/Recall curves with and without the UAST check, we saw that the UAST check degraded the precision of the analyzer which is impossible ; this feature should only improve the precision by dropping predictions that are breaking the UAST. The blue curve can not be under the orange one.

![model_precision_bad](https://user-images.githubusercontent.com/24694845/48882634-99ffb5

[2018-11-22 05:31] warenlg commented on #338
I tried to use the `generate` method from `CodeGenerator` but it looks like the function meets some difficulties when tabs and spaces are mixed in the indentation. Thus I decide to fix the snippet generation directly in `postprocess.py`

[2018-11-22 05:35] warenlg commented on #338
After running the `robust-eval` quality report with the right UAST check, the curves look better. Indeed the blue curve is overhead the orange one.

![model_precision](https://user-images.githubusercontent.com/24694845/48883495-5a879800-ee20-11e8-8eed-035d3cb0c8f0.png)

[2018-11-22 05:59] warenlg commented on #328
What would help me is the file where you reach this error, so that I can reproduce it. In my case, I met this error only once when processing the whole jquery repo, due to a bblfsh parsing error

[2018-11-22 14:52] #338 closed

[2018-11-22 15:36] warenlg opened #340 "Add feature to blaklist rules based on support and confidence thresholds"
As discussed with the team during 21/11/18 sync, rules should be filtered at the `analyze()` step based on given support and confidence thresholds.

[2018-11-22 19:48] zurk opened #341 "Test and fix CodeGenerator for mixed indentation"
It is not implemented and CodeGenerator behavior is undefined.

Looks like @warenlg face this issue in https://github.com/src-d/style-analyzer/issues/338#issuecomment-440917641.
Waren, please share details in this issue when you have time.

[2018-11-22 19:49] zurk commented on #338
Yes, it can happen. I create an issue for myself. Please share your example so I can test it.
https://github.com/src-d/style-analyzer/issues/341

[2018-11-24 04:40] warenlg commented on #341
I think I see couple of bugs here:
1.  currently the `apply_predicted_y` method returns the input sequence of vnodes without any adjusted labels. I believe this comes from a bug in `_iterate_vnodes`. I think because we miss the incrementation of `y_index` here https://github.com/src-d/style-analyzer/blob/master/lookout/style/format/code_generator.py#L204
2.  As I said this week, the code generatio

[2018-11-24 10:50] #340 closed

[2018-11-24 13:35] m09 opened #348 "Potential IndexError in postprocess.py"
https://github.com/src-d/style-analyzer/blob/master/lookout/style/format/postprocess.py#L94 is likely to produce index errors.

[2018-11-26 11:19] m09 opened #350 "In-place modification of vnodes"
In https://github.com/src-d/style-analyzer/blob/master/lookout/style/format/code_generator.py#L78 we modify vnodes directly. Even though this function seems to be used correctly in its only current call point, this is error prone. We should use VirtualNode.copy instead.

[2018-11-26 11:40] #350 closed

[2018-11-26 15:22] warenlg opened #351 "Optimize the UAST breaking preds filtering based on recent feedback"
Reminder to optimize the postprocessing method:
* Extract the loop body to a separate function https://github.com/src-d/style-analyzer/pull/346#discussion_r236192003
* Refactor `filter_uast_breaking_preds` into a class with the appropriate Babelfish initialization https://github.com/src-d/style-analyzer/pull/289#pullrequestreview-175909725

[2018-11-27 09:35] warenlg commented on #328
I believe this is fixed by https://github.com/src-d/style-analyzer/pull/339 and the use of bblfsh proxy https://github.com/src-d/style-analyzer/pull/346
@EgorBu do you still have problems with that ?

[2018-11-27 13:10] #348 closed

[2018-11-28 10:16] EgorBu opened #353 "Rules model with 0 rules are not graciously handled"
Hi,
It would be nice to handle corner case when analyzer gives trained rules with 0 rules.
Current behavior - crash (unfortunately I don't have crash report).
Expected behavior - no report or no predictions or default predictions.

Repository where it appeared several PRs ago `vue-cli`
`https://github.com/vuejs/vue-cli --to 2024f4e52097bed96b527d2e519dccba334f434b --from 85e4f9839ba88d1283b10bb311

[2018-11-28 11:52] zurk opened #355 "Distinguish between accumulated indentation Node and regular one"
There are two cases that are hard to do distinguish.
1. VirtualNode `vnode` contains accumulated indentation. `vnode.y` is always None.
2. VirtualNode contains formatting symbols. There was some value in `vnode.y` until PR https://github.com/src-d/style-analyzer/pull/332. Now you can filter this label and get `vnode.y` equal to None.

So, I suggest to put a flag `VirtualNode.is_accumulated_indenta

[2018-11-28 11:52] zurk commented on #355
cc @vmarkovtsev

[2018-11-28 12:04] m09 commented on #355
@zurk this is closely related to the ongoing refactoring, we should discuss it at tomorrow sync :) (or even today)

[2018-11-28 12:29] zurk commented on #355
Ok, I make a comment in PR I created.

[2018-11-29 13:11] #355 closed

[2018-11-29 19:58] zurk opened #360 "Check travis for Python 3.6"
I often see that Travis fails on some tests, but not in Python 3.6 (inside docker).
We should check it I think it is a bug.

[2018-11-29 21:30] #334 closed

[2018-11-30 09:01] zurk commented on #162
@vmarkovtsev I think we can close it as outdated.

[2018-11-30 09:10] vmarkovtsev commented on #162
Thanks. This was done in https://github.com/src-d/style-analyzer/pull/327

[2018-11-30 09:10] #162 closed

[2018-11-30 09:17] zurk commented on #283
Update:
The code is written, tests are added, minor fixes applied: https://github.com/src-d/style-analyzer/pull/359

Plans:

Best way to do so is to reuse the code directly from `FormatAnalyzer.analyze()` so any further updates will not require more work. It requires additional `FormatAnalyzer` modifications and should be discussed with @vmarkovtsev.

2. Add precision and recall metrics to report.

[2018-11-30 13:04] #360 closed

[2018-12-02 14:22] EgorBu opened #364 "Value error in filter_uast_breaking_preds"
Hi,
I found that `filter_uast_breaking_preds` doesn't handle one type of errors (that is somehow handled in other cases):
[code]

Repo:
[code]

[2018-12-02 20:46] EgorBu opened #365 "Timeout config triggers errors."
Hi,
I tried to use https://github.com/src-d/lookout/blob/master/docs/configuration.md#advanced-fine-tuning to configure timeouts and failed.
When I create `config.yml` with
[code]
it gives me `analyzer run: error: Unexpected line 0 in /io/config.yml: timeout:`.

[2018-12-03 10:47] EgorBu commented on #311
| repo               |   prec |   recall |   f1 |   support |   n_rules |   avg_len |
|:-------------------|-------:|---------:|-----:|----------:|----------:|----------:|
| 30-seconds-of-code |   0.97 |     0.97 | 0.97 |   55716   |    393    |      7.2  |
| axios              |   0.9  |     0.93 | 0.91 |   32789   |     44    |      6    |
| carlo              |   0.82 |     0.88 | 0.85 |   1569

[2018-12-04 10:27] warenlg opened #367 "Remove label filtering by precision"
It looks like this feature is no longer required and should be removed.

[2018-12-04 11:30] m09 opened #368 "Investigate undetected mistakes in smoke dataset"
Smoke dataset shows that there are mostly undetected mistakes.

[2018-12-04 11:31] m09 opened #369 "Fix label support filtering"
Current reports show labels with low support even though they should be filtered.

[2018-12-04 11:34] m09 commented on #328
@EgorBu is this issue still relevant?

[2018-12-04 11:35] m09 commented on #329
@EgorBu: was this still a problem during your last runs?

[2018-12-04 11:37] m09 opened #370 "Investigate low recall and weird precisions in PR curves"

[2018-12-04 11:38] #216 closed

[2018-12-04 13:04] warenlg commented on #370
Currently investigating on science3

[2018-12-04 13:15] zurk commented on #365
Solved with new lookout-sdk https://github.com/src-d/lookout/issues/376

[2018-12-04 13:17] zurk commented on #365
We should dump dependency on lookout-sdk-ml.

[2018-12-04 13:21] #367 closed

[2018-12-05 11:26] warenlg opened #374 "Prediction mismatches during the noisy quality report generation"
When running some noisy quality reports, I figured out that sometimes a prediction considered as a false positive by `quality_report_noisy.py` is actually a true positive, like in this case:
![viz3](https://user-images.githubusercontent.com/24694845/49510472-9db62200-f888-11e8-943c-81a891053f8a.png)

The bug comes from a prediction mismatch at the `difflib` step. We should consider the offsets cha

[2018-12-05 11:29] warenlg commented on #370
One of the cause is https://github.com/src-d/style-analyzer/issues/374. However I raises another specific issue because there might be other reasons and bugs hidden.

[2018-12-05 13:29] zurk opened #375 "Rule number increased during review event"
Just noted this strange behavior it in my current work. It can be related to my changes.
So it is just a reminder to have a look closer lately.

[2018-12-05 13:37] m09 commented on #375
could it just be `insert_noops: True`? @EgorBu made the same remark after the change.

[2018-12-05 16:09] warenlg opened #377 "Uast breaking filtering is rejecting true predictions from NOOPs"
As you can see in the screenshot below, the postprocessing method is currently rejecting some True predictions that are made from NOOPs (∅ -> ...)
![viz4](https://user-images.githubusercontent.com/24694845/49526606-76734b00-f8b0-11e8-8997-265d81f5ee78.png)

[2018-12-05 16:10] warenlg commented on #370
Other reason https://github.com/src-d/style-analyzer/issues/377

[2018-12-05 16:53] zurk commented on #375
Looks like a found a problem. See the related PR

[2018-12-06 09:06] #375 closed

[2018-12-07 11:19] m09 opened #381 "Centralize quote handling stuff in Rules"
ATM we have `harmonize_quotes` in `Rules` and another piece of logic in the code generator to check if quotes predictions are applicable. We should centralize those two functions in one place (and call them both in `Rules.predict`).

[2018-12-07 11:20] m09 commented on #369
@EgorBu I think the low support rules are artificial ones. It can be check by looking at their attributes (they don't have any comparison). If this is the case then this is not a bug but intended to handle quote fixes. Let me know if you have confirmation/infirmation of this :)

[2018-12-07 11:22] m09 opened #382 "Add artificial marker to rules to be able to distinguish between normal and artificial rules."

[2018-12-07 12:08] warenlg commented on #328
@EgorBu ping

[2018-12-07 13:08] #374 closed

[2018-12-07 13:15] #377 closed

[2018-12-07 16:04] zurk commented on #328
My guess is that this error was found out while Egor created a quality report.
So right now there is a lot of stuff was reimplemented in PR: https://github.com/src-d/style-analyzer/pull/326 so let's wait until it is merged and a report is created.

@EgorBu am I right?

[2018-12-07 16:45] warenlg commented on #328
Above all, this error could no longer occur since https://github.com/src-d/style-analyzer/pull/339, as I said 10 days ago in this issue

[2018-12-07 17:34] m09 commented on #328
Closing, we'll create a new one if needed.

[2018-12-07 17:34] #328 closed

[2018-12-07 17:35] m09 commented on #329
@EgorBu ping

[2018-12-07 17:36] m09 commented on #281
Done in #347.

[2018-12-07 17:36] #281 closed

[2018-12-07 17:37] m09 commented on #266
Done.

[2018-12-07 17:37] #266 closed

[2018-12-07 17:38] m09 commented on #259
Let's reopen new issue with new traces if there is a problem, those ones are outdated.

[2018-12-07 17:38] #259 closed

[2018-12-07 17:40] m09 commented on #312
To add someprecisions: we discussed using a byte threshold instead of a number of files one since this is the more limiting factor for us.

[2018-12-07 21:10] zurk opened #385 "FomatModel saves version as string."
I am not sure if an issue should be here or in modelforge, but if you dump FormatAnalyzer you see
[code]

However, modelforge expects this version to be int: https://github.com/src-d/modelforge/blob/master/modelforge/model.py#L248

[2018-12-07 22:04] zurk opened #386 "Solve modelforge package conflict"
if you run
[code]
you get
[code]

[2018-12-07 22:13] zurk opened #387 "Disable label filtering on analyze stage"
Now it filters everything.

log example:

[code]

[2018-12-07 22:20] zurk commented on #387
So, the problem is that feature extraction is different when you train the model and when you apply it.
So it is clear that `FeatureExtractor` is Transformer and there are `fit()` and `transform()` methods should be implemented. For now, I just apply an ad-hoc solution to fix the problem.

[2018-12-08 08:01] vmarkovtsev commented on #386
It must be because of the outdated sourced-ml dep.

[2018-12-08 08:37] zurk commented on #329
I run quality report run yesterday and yes, the problem still exists.

[2018-12-08 08:50] zurk opened #388 "Comment confidence calculation: IndexError: tuple index out of range"
The bug appears after https://github.com/src-d/style-analyzer/pull/379
It is easy to fix.

Traceback example:
[code]

[2018-12-08 10:09] zurk commented on #329
So, the problem is in bblfsh and happens on this file:
https://github.com/meteor/meteor/blob/0fcc7ddd46d0ef8a278376ba64538210486ab646/packages/accounts-password/email_tests_setup.js

bblfsh does not create offset in some cases. Here is the begging of uast tree:
[code]

Hugo said that lastest driver does not have this bug.

[2018-12-08 10:47] #329 closed

[2018-12-08 10:48] zurk opened #394 "Make filter_uast_breaking_preds parallel"
Bblfsh can scale itself according to requests number, As it takes a huge amount of time right now it is worth to make this part parallel.

[2018-12-08 10:53] m09 commented on #364
We switched from BblfshClient to lookout and one expects binary while the other expectes utf-8 strings, that's why it reappeared I think.

[2018-12-08 10:59] #364 closed

[2018-12-08 12:42] zurk opened #395 "Test repository is damaged."
I found out that our repository for testing (https://github.com/src-d/style-analyzer/blob/423c9d86084acedbab12cd1d603ade9e733f567e/lookout/style/format/tests/jquery.tar.xz) is not repository anymore (there is no `.git`). Long run rests runs `lookout-sdk` which requires git repo:

https://github.com/src-d/style-analyzer/blob/423c9d86084acedbab12cd1d603ade9e733f567e/lookout/style/format/tests/test_a

[2018-12-08 12:49] zurk commented on #395
@warenlg I think you wanted to accelerate some tests? That is why you deleted a lot of files inside? I think it is fine to do that but you should recreate git repo and check long tests.

[2018-12-08 13:18] warenlg commented on #395
@zurk Indeed I removed the majority of the files, some of them were huge and I thought it was useless to test the logic on such files. If you PRed the previous repo archive, Travis is not going to pass because not responding

[2018-12-08 13:39] zurk commented on #395
yeah, I was going to check and see you are right. Some parts require more than 10 mins to output something so Travis decides to kill it.
Can I ask you to fix this issue?

[2018-12-08 14:07] zurk commented on #395
Actually, Python 3.5 passes. So maybe there is another reason.

[2018-12-08 17:40] zurk commented on #395
ok, I did it because I need it to make tests pass in https://github.com/src-d/style-analyzer/pull/326
I decided to leave more files in this repos, but smaller one mostly. Let's see how it goes.

[2018-12-09 10:38] #388 closed

[2018-12-09 12:54] zurk opened #399 "class sequence is missing in class_sequences_to_labels"
The problem is that we forget to update `class_sequences_to_labels` and `labels_to_class_sequences` in one case in `FeatureExtractor._merge_classes_to_composite_labels()`:

https://github.com/src-d/style-analyzer/blob/7c1f51ae5e41fa103d3cdd5da44a494587cf8e39/lookout/style/format/feature_extractor.py#L575-L577

We should do it the same way we do above:

https://github.com/src-d/style-analyzer/blob/

[2018-12-09 13:00] zurk commented on #387
As soon as a bug is fixed I close this issue and create another one about `FeatureExtractor` refactoring.

[2018-12-09 13:00] #387 closed

[2018-12-09 13:05] zurk opened #401 "Refactor FeatureExtractror to have fit() and transform() methods"
Ancestor issue: https://github.com/src-d/style-analyzer/issues/387

The problem is that feature extraction is different when you train the model and when you apply it.
So it is clear that `FeatureExtractor` is a transformer and `fit()` and `transform()` methods should be implemented. It helps to reduce code complexity a lot. Now we have both methods implemented inside `extract_features()` and `ind

[2018-12-09 13:10] zurk commented on #369
So, actually the filtering we have before was wrong and we disable it: https://github.com/src-d/style-analyzer/issues/387

We do not filter labels properly on `analyze` stage. I think the best way to do it is to exclude filtered labels from `labels_to_class_sequences` and `class_sequences_to_labels` during train stage and filter by this mappings during analyze stage.

[2018-12-09 13:13] zurk commented on #369
I think before implementing it I think this issue requires further discussion because if we do that we will be unable to fix any weird format sequence.

[2018-12-09 13:17] vmarkovtsev commented on #369
Fix=pin or fix=correct? Any=all or any=some?

[2018-12-09 14:06] zurk commented on #369
Fix=pin and correct
Any=all

So if you have PR with something like `<newline><space><newline><space><newline><space>` instead of  `<newline>` it is something that potentially can be easily fixed but we will just ignore it.

[2018-12-09 14:18] #382 closed

[2018-12-09 14:27] zurk opened #402 "Move lookout/style/__main__.py to another package"
To make `python3 -m lookout run ...` work without style-analyzer package.

[2018-12-09 14:30] vmarkovtsev commented on #402
This should not work this way. Our main is the tools which are not used directly in any way.

[2018-12-09 14:32] zurk opened #403 "Do not import matplotlib when run lookout.style.format"
If I run
[code]

I get
[code]

We should not import matplotlib by default.

[2018-12-09 14:36] vmarkovtsev commented on #403
This works as intended. Ask @m09 how to set individual log levels.

[2018-12-09 14:47] zurk commented on #403
Another question:  Are we that we load `matplotlib` package without real reason?

[2018-12-09 15:07] vmarkovtsev commented on #403
@zurk Can you please grep this import

[2018-12-09 15:18] zurk commented on #403
[code]

[2018-12-09 15:31] zurk commented on #401
yeah, you are right, I just decompose `fit_transform` to `fit` + `transform` :)

[2018-12-09 16:19] zurk commented on #402
So, let me explain it carefully.  We have a general cmd entry point for all analyzers in
`lookout/__main__.py` which allow us to run `python3 -m lookout run ...`

However, when we move `lookout.core` to a separate package, we forget to move this file.
So when you install `lookout-sdk-ml` you do not have `lookout/__main__.py` but you should.

So let's move `lookout/__main__.py` to `lookout-sdk-ml`

[2018-12-09 17:04] vmarkovtsev commented on #403
We should definitely not import this file by default. Feel free to cut the import chain here

[2018-12-09 17:50] #395 closed

[2018-12-09 17:52] #399 closed

[2018-12-09 19:02] zurk commented on #402
I look carefully and find that we have `__main__.py` in `lookout-sdk-ml`, so we should just delete it in `style-analyzer`.

https://github.com/src-d/lookout-sdk-ml/blob/master/lookout/__main__.py

[2018-12-09 22:17] zurk opened #406 "Filter composite labels by support does not work"
Despite the fact that we call `_remove_labels_with_low_support()` function during training:

https://github.com/src-d/style-analyzer/blob/abbe0f881b993139ac145dff54a4bb8476471397/lookout/style/format/feature_extractor.py#L266-L267

No filtering happens.

[2018-12-09 23:44] zurk commented on #406
This bug covers two another:
So there are two PRs:
https://github.com/src-d/style-analyzer/pull/407
https://github.com/src-d/style-analyzer/pull/408

[2018-12-10 06:39] #402 closed

[2018-12-10 12:02] m09 opened #412 "Current setup can install two incompatibles versions of asdf"
Right now it's possible to have `asdf==2.2.1` installed, that understands the versions 1.0.0, 1.1.0 and 1.2.0 of the ASDF standard and `asdf==2.3` installed, which uses version 1.3.0 of that standard.

That leads to the following message when a model was trained on some env with `asdf==2.3` and read on some env with `asdf==2.2.1`:

    ValueError: This version of the asdf package (2.2.1) only unde

[2018-12-10 12:06] #406 closed

[2018-12-10 12:12] vmarkovtsev commented on #412
I will pin it to 2.2.1

[2018-12-10 12:41] #385 closed

[2018-12-10 15:36] vmarkovtsev commented on #403
Fixed

[2018-12-10 15:36] #403 closed

[2018-12-10 15:51] vmarkovtsev commented on #386
Should be fixed by https://github.com/src-d/ml/pull/360

[2018-12-10 15:51] #386 closed

[2018-12-10 16:24] vmarkovtsev commented on #369
@zurk @m09 so what's the plan?

[2018-12-10 16:24] vmarkovtsev commented on #370
@warenlg What's the status of this?

[2018-12-10 16:29] vmarkovtsev commented on #313
This will be a Makefile and the work happens in https://github.com/src-d/style-analyzer/pull/397 by @warenlg

[2018-12-10 16:30] warenlg commented on #370
Around this issue, I fixed :
* https://github.com/src-d/style-analyzer/pull/378
* https://github.com/src-d/style-analyzer/pull/376
And published the quality report here https://github.com/src-d/style-analyzer/pull/397

Now the recall came back to normal values we used to have (around 0.4) and the precision looks good also, so to me, this issue should be closed

[2018-12-10 16:30] vmarkovtsev commented on #311
This is fixed by #326

[2018-12-10 16:33] warenlg commented on #351
This issue has been fixed by @m09 through this PR https://github.com/src-d/style-analyzer/pull/373 I reviewed and tested

[2018-12-10 16:35] vmarkovtsev commented on #175
This is solved by `install_requires` in src-d/ml.

[2018-12-10 16:36] vmarkovtsev commented on #175
This is solved by `setup_requires`

[2018-12-10 16:41] vmarkovtsev commented on #175
Closing this since the original issue is fixed.

[2018-12-10 16:41] #175 closed

[2018-12-10 16:42] smacker commented on #324
you deploy analyzer only [on tag](https://github.com/src-d/style-analyzer/blob/master/.travis.yml#L21).
I don't see any new tags since the issue was fixed.

[2018-12-10 16:53] vmarkovtsev commented on #412
Fixed in `lookout-sdk-ml==0.4.0` and `sourced-ml==0.7.2`

[2018-12-10 16:53] #412 closed

[2018-12-10 17:07] vmarkovtsev commented on #341
@zurk Status?

[2018-12-10 17:07] vmarkovtsev commented on #365
Fixed in lookout-sdk-ml==0.4.0

[2018-12-10 17:07] #365 closed

[2018-12-10 17:18] warenlg commented on #341
This issue is not a bottleneck for the release, at least to me

[2018-12-10 17:50] m09 commented on #351
For the _refactor into a class_ part, we don't do any bblfsh init or any init of any kind so I think it's safe to close this issue.

[2018-12-10 17:50] #351 closed

[2018-12-11 07:00] m09 commented on #369
Fixed in #415

[2018-12-11 07:00] #369 closed

[2018-12-11 10:04] m09 opened #419 "Add trailing commas to flake8"
It happens often in reviews that someone suggests to add a trailing comma. It's better to add it to flake.

[2018-12-11 11:06] vmarkovtsev commented on #370
Done

[2018-12-11 11:06] #370 closed

[2018-12-11 11:07] zurk commented on #368
@zurk ping

[2018-12-11 11:13] EgorBu opened #421 "Integrate vis with vs-code"
Integrate visualization of style analyzer with vs-code.
Example https://github.com/carlosms/vscode-babelfish

[2018-12-11 11:13] vmarkovtsev commented on #291
@rporres This is done, correct?

[2018-12-11 11:14] vmarkovtsev commented on #283
Done

[2018-12-11 11:14] #283 closed

[2018-12-11 11:17] vmarkovtsev commented on #161
Closing as outdated - the upcoming refactoring will cover this anyway.

[2018-12-11 11:17] #161 closed

[2018-12-11 11:20] rporres commented on #291
Yes. I forgot to close it. Sorry for that.

[2018-12-11 11:20] #291 closed

[2018-12-11 11:24] vmarkovtsev opened #422 "Rework report generation in the training quality report"
Follows up #326

[2018-12-11 11:39] m09 opened #424 "Fix noop to the right of indentation"

[2018-12-11 13:33] #419 closed

[2018-12-11 13:38] zurk opened #425 "Save predicted files to quality report"
Smoke dataset evaluation and noisy dataset are affected.

[2018-12-11 14:28] m09 opened #429 "CandidatesGenerator.__eq__ is broken"
Currently, `CandidatesGenerator.__eq__` has broken logic: it only checks the equality of one attribute and then returns. It also has over-complicated equality logic that should be delegated to its attributes' classes.

[2018-12-11 14:33] m09 opened #430 "Visualizer doesn't display labeled but not predicted nodes"
Latest try to fix (#418) wasn't enough.

[2018-12-11 15:06] zurk commented on #368
So it is still happening.

[2018-12-11 15:49] zurk opened #432 "Create special config for tests to make them run faster"
Example of a test performance decrease when you change the config https://github.com/src-d/style-analyzer/pull/426
Also, we can set `"n_iter": 1,` for BayesSearchCV etc.

[2018-12-11 15:57] zurk opened #433 "[Quality Report] Move REPOSITORIES global var to the csv file"
Also, it is required to add the input argument to the quality report endpoint.

On the trail of https://github.com/src-d/style-analyzer/pull/326#issuecomment-445241039

[2018-12-11 16:01] zurk opened #434 "Join TestAnalyser and AnalyzerContextManager"
They do exactly the same things.

Related issue: https://github.com/src-d/style-analyzer/issues/263

On the trail of https://github.com/src-d/style-analyzer/pull/326#issuecomment-445241039

[2018-12-11 16:07] zurk opened #435 "Join several endpoints for a quality report"
We have one here:
https://github.com/src-d/style-analyzer/blob/65c8f0174ebad8ca09b093910e37b4d2be592296/lookout/style/format/benchmarks/top_repos_quality.py#L343-L347
 and one in `__main__.py` for `quality_report()` function run. They almost equal.

The function `quality_report()` itself is also redundant.

On the trail of https://github.com/src-d/style-analyzer/pull/326#issuecomment-445241039

[2018-12-11 16:30] #311 closed

[2018-12-11 16:32] EgorBu opened #436 "Improve speed of postprocessing (and probably smoke dataset generation)"
Use multiprocessing to check different predictions (that they do not break UAST and don't make different UAST). It should allow reducing duration from hours to minutes using 32 cores at science-3.

[2018-12-11 17:17] zurk commented on #436
This is a duplicate of https://github.com/src-d/style-analyzer/issues/394
Smoke dataset generation takes 10-20 seconds so let's apply the first rule of optimization.

I would rather close this.

[2018-12-11 17:21] zurk opened #437 "Find a way how to analyze the quality report results"
on the trail of https://github.com/src-d/style-analyzer/pull/326#issuecomment-445241039

Also, @vmarkovtsev have an additional  opinion about this:
https://github.com/src-d/style-analyzer/pull/326#issuecomment-446217540

[2018-12-11 17:22] zurk opened #438 "Fix RuleStatAnalyzer implementation"
As soon as we merge https://github.com/src-d/style-analyzer/pull/326 this Analyzer does not work anymore. We should refactor it to use new codebase.

On the trail of https://github.com/src-d/style-analyzer/pull/326#issuecomment-445241039

[2018-12-11 17:41] zurk commented on #438
Description and name are fixed.

[2018-12-11 17:41] zurk commented on #436
So do we close it as duplicate? check the mentioned issue.

[2018-12-11 18:23] m09 commented on #436
I'll close because it does seem to be a duplicate of #394. Please re-open if we are mistaken!

[2018-12-11 18:23] #436 closed

[2018-12-11 18:24] zurk opened #441 "Split evaluate_smoke.calc_metrics() to two functions"
See the discussion here: https://github.com/src-d/style-analyzer/pull/431#issuecomment-446295383

[2018-12-12 08:32] #368 closed

[2018-12-12 10:59] m09 commented on #353
Fixed in #440.

[2018-12-12 10:59] #353 closed

[2018-12-12 11:55] zurk opened #445 "wrap bblfshctl calls with travis_retry"
self-reminder.

[2018-12-12 13:40] #424 closed

[2018-12-12 13:50] #432 closed

[2018-12-12 15:27] zurk opened #449 "Find out why prune attributes increase tests running time"
Was 10 min, now it is 15 min.

Related PR: https://github.com/src-d/style-analyzer/pull/447

[2018-12-12 16:42] warenlg opened #450 "Fix the metrics computation in the noisy quality report"
The results output the empirical confidence threshold look wrong. This needs debugging.

[2018-12-12 16:45] vmarkovtsev opened #451 "Implement rules blacklisting"
A user can reject some rules and we should not run all rules which are very similar or more general.

[2018-12-12 16:53] warenlg opened #453 "Make the visuals in the quality reports fancy and easily understable for Management"
The visuals in the quality reports could be improved, with threshold bars and different colours for accepted/rejected rules, etc...

[2018-12-12 18:03] #450 closed

[2018-12-12 19:59] vmarkovtsev opened #455 "Reduce the amount of rules from the forest"
We should filter rule groups which predict the same label and leave only the most general ones. Confidence matters - sometimes we should leave more specific rules instead.

[2018-12-13 06:19] #453 closed

[2018-12-13 09:51] vmarkovtsev commented on #449
I am on it. I have added an assertion in `train()`and am running the test suite.

[2018-12-13 10:05] vmarkovtsev commented on #449
Smoke is the one to blame.

[2018-12-13 11:07] m09 opened #459 "Quote predictions can be broken"

[2018-12-13 11:24] vmarkovtsev opened #460 "Filtering predicted lines: fix"
As Egor showed today, we do not trigger predictions on changed lines. However, if we create a new file, we do predict fixes.

[2018-12-13 11:25] vmarkovtsev opened #461 "Code generation behaves weird"
As Egor showed today, we predict correct fixes but generate wrong code suggestions: new lines are missed.

[2018-12-13 13:17] m09 opened #464 "Labeled node creation should have different logic for train and inference"
Currently we don't handle inference on unseen data.

[2018-12-13 14:15] zurk commented on #460
We trigger it. Let's add some debug logs to `analyze()` call to be sure, it can be helpful.

The point was that if we apply only super confident rules there are a lot of cases when we predict no comments, especially if we change just a few lines.

[2018-12-13 14:17] zurk commented on #459
@m09 I know that we kind of in rush right now, but can I ask you to put a small description about that. I am afraid that we can fully forget what it was in a few weeks.

[2018-12-13 15:36] m09 commented on #459
as I said during the meeting I'm fixing it today or tomorrow so no need to worry about in a few weeks

[2018-12-13 15:49] m09 opened #468 "Perform attribute pruning after rule filtering"
Should speed up by x3 to x100 depending on the aggressiveness of the filtering and the base model (x100 will be easier to reach with RandomForest than DecisionTree)

[2018-12-13 16:20] vmarkovtsev opened #470 "Move axios repo inside style-analyzer"
It should go as tar.xz into `tests`. Please leave only two branches you need and also squash all the history together in a single commit - this way, we optimize the size.

[2018-12-13 16:30] #313 closed

[2018-12-13 18:56] zurk opened #475 "Add a makefile command to deploy style-analyzer locally for testing"
related discussion in the PR https://github.com/src-d/style-analyzer/pull/465

[2018-12-13 20:46] zurk commented on #468
I the end we decided to have both prunings: for train and for analyze

[2018-12-14 07:53] #468 closed

[2018-12-14 16:51] warenlg opened #477 "Pass the long running tests"
After fixing some bugs, the tests fail at the attribute pruning step returning a `ERROR analysis failed analyzer=test-analyzes app=lookout-sdk error=rpc error: code = DeadlineExceeded desc = Deadline Exceeded provider=`

[2018-12-15 04:07] zurk commented on #477
Looks like old version of lookout-sdk. App team removed timeout in v0.6.0 and later.
Which version is it?

[2018-12-15 19:58] warenlg commented on #477
I'm using the latest lookout-sdk v0.6.0

[2018-12-17 10:38] warenlg commented on #477
This one for example `LONG_TESTS=1 python3 test_analyzer_integration.py` failed after spending too much time on attribute pruning

[2018-12-17 10:49] EgorBu commented on #477
reproduced the error

[2018-12-17 13:50] m09 opened #481 "Empty string creates one sample less than non-empty strings, and more labels"
Since the sequence labels and the label merging, `'b' + 3;` and `'' + 3;` have a different number of samples:
In the first case:
- `'`
- `'` and `space`
- `space`
- `noop`
In the second:
- `'`, `'` and `space`
- `space`
- `noop`

which basically means that empty strings are not handled like the others and create many labels depending on their surroundings.

[2018-12-17 14:58] EgorBu commented on #477
[code]
Found the problem - I have an old version of server too. Locally it caches the `server` so you need to delete it manually.
@warenlg , could you check it and close the issue?

[2018-12-17 16:14] warenlg commented on #477
Yes @EgorBu this is a fix ! I'm back testing other files

[2018-12-18 10:04] vmarkovtsev commented on #459
Fixed

[2018-12-18 10:04] #459 closed

[2018-12-18 11:14] #461 closed

[2018-12-18 11:30] zurk opened #484 "Add Predicted Positive Condition Rate metric to quality report"
Since we merge https://github.com/src-d/style-analyzer/pull/478 we found out that sometimes we refuse to predict format token, because there is no rule applicable.

We should add a metric that counts such cases.

[2018-12-18 11:51] m09 commented on #449
Can we close?

[2018-12-18 12:01] zurk commented on #449
No, I have not investigated yet.

[2018-12-18 12:58] #430 closed

[2018-12-18 13:36] zurk commented on #449
oh!.. that's why. let me try to fix it. it should be fast.

[2018-12-18 13:47] #481 closed

[2018-12-18 14:51] warenlg opened #489 "Keep track of the evolution of the noisy quality report according to the recent commit history"
Some important PRs have been merged these last days, and seem to have degraded the noisy quality report at least. Let's find the commit to blame.

Before on the 13/12
![pr_curves_12_13](https://user-images.githubusercontent.com/24694845/50161672-b983e400-02dc-11e9-8f86-86914ce464bf.png)

After on the 17/12
![pr_curves_12_17](https://user-images.githubusercontent.com/24694845/50161695-c43e7900-02dc

[2018-12-18 19:32] #460 closed

[2018-12-18 22:47] #484 closed

[2018-12-19 06:57] vmarkovtsev opened #492 "Deploy to PyPi only if the tag matches the version"

[2018-12-19 10:42] #324 closed

[2018-12-19 14:44] #492 closed

[2018-12-19 15:11] warenlg commented on #477
No more errors, with the recent PRs, the long tests passed

[2018-12-19 15:33] vmarkovtsev commented on #310
@warenlg You should do this once you pass the long tests.

[2018-12-19 15:37] vmarkovtsev opened #497 "Gather metrics in production"
- [ ] Write abstract code to submit metrics
- [ ] Wait for https://github.com/src-d/infrastructure/issues/269
- [ ] Write the code to integrate with (2)

[2018-12-19 15:38] #477 closed

[2018-12-19 15:42] m09 commented on #449
Should we let this one open since you mention in #495 that this is not completely fixed?

[2018-12-19 15:47] vmarkovtsev commented on #449
Was closed automatically, thanks for noticing.

[2018-12-19 15:49] m09 commented on #310
To give some feedback on my experience last time I tried it:

- travis has no option to schedule a cron at a given time every week. It is possible however to create the cron at the time you want and it should repeat in the future weeks around that time (this is obviously really annoying since it means doing it on a sunday for us)
- last time I checked I saw 2 ways to enable long tests in the cron:

[2018-12-19 16:12] vmarkovtsev commented on #310
I created a cron job to run weekly. I also added "do not run if there was a build in the last 24 hours". This should be fine for now. So whatś left is to check `TRAVIS_EVENT_TYPE` in `script` and `export LONG_TESTS=1` if in cron.

[2018-12-19 16:20] vmarkovtsev opened #498 "Support ";" in Javascript"
Semicolons are optional in JS; we should learn this class.

[2018-12-19 16:25] vmarkovtsev opened #499 "Save the achieved metrics during training to the model"
We currently do not measure precision, recall, etc. in `train()`. We need to measure them and save the values to the model file.

[2018-12-19 18:47] zurk commented on #497
which metric do you mean?

[2018-12-19 19:08] vmarkovtsev commented on #497
Production metrics. They are usually plotted on dashboards. The difference to logs is that you inspect graphs and see the dynamics.

[2018-12-19 19:16] zurk commented on #497
So, about time, system load, etc?

[2018-12-19 19:17] zurk commented on #497
ok, I think I get an answer from the attached infra issue. 👍

[2018-12-19 19:21] vmarkovtsev commented on #497
Time and system load are a tiny fraction of the metrics we will collect. I am talking about production ML dashboards with hundreds of graphs. Example of metrics in the core: https://github.com/src-d/lookout-sdk-ml/commit/2767f72e960dcb68f2ed35440058a88a308de923

[2018-12-20 09:57] warenlg opened #501 "Incorrect max line filtering of the input files"
Currently, when you train a model, you always have during the files preprocessing:
`DEBUG:FormatAnalyzer:excluded 0/X files by max line length 500` because the logic for max line filtering is duplicated and the actual filtering happens earlier.

Could be the opportunity to factorize `filter_files`, `filter_filepaths`, `prepare_files`, etc

[2018-12-20 10:03] vmarkovtsev commented on #501
@warenlg Where does the actual filtering take place then?

[2018-12-20 10:13] warenlg commented on #501
here https://github.com/src-d/style-analyzer/blob/master/lookout/style/format/files_filtering.py#L29
and the log comes from https://github.com/src-d/lookout-sdk-ml/blob/master/lookout/core/lib.py#L101

[2018-12-20 10:15] vmarkovtsev opened #502 "Remove files_filtering.py and use lookout-sdk-ml"
`style-analyzer/lookout/style/format/files_filtering.py`duplicates https://github.com/src-d/lookout-sdk-ml/blob/master/lookout/core/lib.py#L101 as @warenlg found. We need to add the missing regexp filtering feature and switch to using the SDK function.

[2018-12-20 14:44] vmarkovtsev commented on #422
Done

[2018-12-21 09:31] vmarkovtsev opened #506 "Consider using NeverGrad for hyper optimization"

[2018-12-21 11:18] zurk commented on #506
this one: https://github.com/facebookresearch/nevergrad

[2018-12-24 23:17] EgorBu commented on #506
How about a comparison with https://github.com/Microsoft/nni too?

[2018-12-27 13:16] smacker opened #509 "Analyzer fails after lookoutd deployment"
Looks like style-analyzer keeps an open connection to lookoutd.
When we redeploy lookout it obviously gets broken.

gRPC reestablishes connection automatically but only after the second request to the analyzer.
So the *first* Review/Push request after restart fails.

Please don't fix it yet. We might want to fix it in lookout-sdk (in the connection helper).

[2018-12-27 14:56] zurk commented on #509
related issue: https://github.com/src-d/charts/issues/128

[2018-12-27 15:40] smacker commented on #509
huh? How is it related?

[2019-01-08 13:49] vmarkovtsev opened #511 "Fix the last-minute problems with the reports"
- [x] Fix recall and f1 being the same as precision
- [x] Check for None in the summary report and handle gracefully
- [x] Investigate and fix (if easy to fix) the crash on meteor

[2019-01-08 13:52] vmarkovtsev commented on #509
@smacker Is it an open connection from lookoutd to analyzer (events channel) or from analyzer to lookoutd (data service)?

[2019-01-08 14:02] smacker commented on #509
From analyzer to lookoutd (data service).

[2019-01-09 10:40] m09 opened #513 "bblfsh flag in reports is not used"
It appears that the bblfsh flag is not used in at least some of the reports:

[code]
Here the last line is a warning because no instance of bblfsh is running at `ipv4://localhost:9432` but we specified `ipv4://report_hp_bblfshd:9432` as the address to try

[2019-01-09 11:23] m09 opened #515 "Replace Iterable with Iterator in type hints where needed"
In the codebase, we have many wrong `Iterable` annotations that need to be replaced by `Iterator`.

[2019-01-09 13:17] #438 closed

[2019-01-10 10:11] vmarkovtsev commented on #511
\+ https://github.com/src-d/ml-backlog/issues/1

[2019-01-10 10:13] vmarkovtsev commented on #511
Reports wer efixed in https://github.com/src-d/style-analyzer/pull/512
@EgorBu has regenerated the summary for the quality report.

The problem with meteor is some weird Unicode, is fixed in https://github.com/src-d/style-analyzer/pull/519

[2019-01-10 10:22] vmarkovtsev commented on #437
This was fixed for the quality report by including the raw JSON at the bottom and has already paid off.

[2019-01-10 10:22] #437 closed

[2019-01-10 10:23] #422 closed, assigned to vmarkovtsev

[2019-01-10 10:31] vmarkovtsev commented on #246
Related: https://github.com/src-d/style-analyzer/pull/380

[2019-01-10 10:56] #513 closed

[2019-01-10 11:19] vmarkovtsev opened #520 "Measure quality metrics on file triplets"
Given a modified file and a ground truth fixed file, we apply the model, generate a predicted file, throw away everything except those three files and measure quality metrics.

[2019-01-10 11:28] vmarkovtsev opened #521 "Refactor VirtualNode with annotations"
Inspired by UIMA. We never remove annotations, only add.

...

[2019-01-10 11:43] vmarkovtsev opened #522 "Remove global indentation algorithm from CodeGenerator"
Local indentation is clearly better so we drop the global one and simplify the code.

[2019-01-10 11:43] m09 opened #523 "Merge indentation special token with preceding labeled newline"

[2019-01-10 11:44] vmarkovtsev opened #524 "Use CodeGenerator for UAST filtering"
Important

[2019-01-10 11:47] vmarkovtsev commented on #394
Hugo achieved x2 speed for 30 threads on science-3.

[2019-01-10 11:56] vmarkovtsev opened #525 "Extract quotes into a separate model"
Should simplify code much.

[2019-01-10 12:00] vmarkovtsev opened #526 "Review all TODOs and FIXMEs"
Convert to issues as needed.

[2019-01-10 12:51] smacker commented on #509
Please update grpcio to the recent version in your analyzer to fix the issue.
You will need to use sdk to v0.3.0+ for that.

[2019-01-10 12:52] vmarkovtsev commented on #509
ok

[2019-01-11 10:05] EgorBu commented on #526
List of `TODO`s:
[code]
and `FIXME`
[code]
cmd to collect it
`grep -r --exclude=\*.{xml,js,coffee,md,map,ts,in,html,yml,npmignore,ipynb,go,proto}  "FIXME" -A3 -B3 .`
`grep -r --exclude=\*.{xml,js,coffee,md,map,ts,in,html,yml,npmignore,ipynb,go,proto}  "TODO" -A3 -B3 .`

[2019-01-11 12:47] EgorBu commented on #520
Some discussion is required.

A bit of context:
We have 3 types of reports:
* quality report
     * measure how well analyzer can reconstruct initial source code (minus of this approach - if analyzer does nothing - it's a perfect reconstruction). Could be used as some kind of measurment of source code consistency.
* quality report noisy
    * `Evaluate how well a given model is able to fix style m

[2019-01-14 09:28] m09 opened #528 "jinja2 templates are not copied during pip install"
`pip install -e .` works because it symlinks the directory and jinja2 are still present, but `pip install .` is broken: the jinja templates don't end up in the site directory.

[code]

[2019-01-15 08:31] zurk commented on #511
Ok, with fix https://github.com/src-d/style-analyzer/pull/527 meteor should work fine and I am going to check it today.

[2019-01-15 11:25] m09 opened #531 "style-analyzer docker image can have a wrong version of lookout-sdk-ml"
Since the `srcd/style-analyzer` image depends on the `srcd/lookout-sdk-ml` image, it inherits the latest `lookout-sdk-ml` regardless of what is prescribed in `setup.py` and `requirements.txt`. We should make sure that the version that is used actually matches the version specified in those files.

@vmarkovtsev suggested to use tags and a step in CI to ensure that the specified tag matches the vers

[2019-01-15 11:44] m09 opened #532 "pip install . is not tested"
Currently, our CI steps and docker images all use `pip install -e .`. It leads to bugs such as #528.

[2019-01-15 11:52] warenlg opened #533 "Quality reports evualte the analyzer on the training set"
We should split train/validation sets. The proportion of test samples, for example 0.2, should be in the config, with a default value set of 0 because in production we train on the all repo.

[2019-01-16 14:21] EgorBu commented on #526
[code]
should be covered by https://github.com/src-d/style-analyzer/pull/534

[2019-01-16 14:21] zurk commented on #511
the meteor is still running (attributes prunning)
I am going to run another report collection without attributes prunning.

[2019-01-16 14:23] EgorBu commented on #526
[code]
related issue: https://github.com/src-d/style-analyzer/issues/286

[2019-01-16 14:30] EgorBu commented on #526
[code]
@zurk , could you explain what should be done here?

[2019-01-16 14:35] EgorBu commented on #526
[code]
could be done like this
[code]

[2019-01-16 14:37] EgorBu commented on #526
[code]
it's possible to create dictionary and send it to `render` -  is it your intention, @vmarkovtsev ?

[2019-01-16 14:42] EgorBu commented on #526
[code]
related PR: [Add input file for quality report](https://github.com/src-d/style-analyzer/pull/517/files)

[2019-01-16 14:45] EgorBu commented on #526
[code]
[example how to do it](https://github.com/dulwich/dulwich/blob/master/examples/clone.py)
[code]

[2019-01-16 14:57] EgorBu commented on #526
[code]
solution
[code]

[2019-01-16 14:59] EgorBu commented on #526
[code]
solution
[code]

[2019-01-16 15:01] EgorBu commented on #526
[code]

Solution: iterate through available languages and return these parameters for each language

[2019-01-16 15:03] EgorBu commented on #526
[code]
Solution: generate quality report per language - requires refactoring of reports

[2019-01-17 14:01] vmarkovtsev commented on #520
(no time to read for now)

If this grows into a huge task, we should do it after resolving the other, smaller issues which have planned.

[2019-01-17 14:35] vmarkovtsev commented on #528
It is complicated by the fact that we exclude tests from the package. Investigating.

[2019-01-17 14:40] #531 closed

[2019-01-17 16:45] EgorBu opened #538 "Suggestion feature works wrongly in some cases"
Examples:
* https://github.com/EgorBu/carlo/pull/6#discussion_r248745156
* https://github.com/lookout-demo/redux/pull/4#discussion_r252582120
* https://github.com/lookout-demo/redux/pull/5#discussion_r252584415

[2019-01-17 16:46] EgorBu opened #539 "[bug] comments can't be batched together"
https://github.com/EgorBu/carlo/pull/6#discussion_r248745156
One of the key points of lookout - apply changes in 1 click - somehow it's not possible.

[2019-01-18 09:55] vmarkovtsev commented on #539
@zurk There are some quality problems and some presentation problems.

The quality problems are not so important at this point; the only presentation bug is with comments:

- https://github.com/EgorBu/carlo/pull/6#discussion_r248745156
- https://github.com/EgorBu/carlo/pull/6#discussion_r248745156

[2019-01-18 10:32] zurk commented on #539
@vmarkovtsev looks like you create a list with two identical links.

[2019-01-18 11:04] EgorBu commented on #539
![possible_bug](https://user-images.githubusercontent.com/2606702/51383211-190e2300-1b19-11e9-9b2b-8be0942b2f57.png)
it should help better understand - the button `Add suggestion to batch` is disabled because of some reason

[2019-01-18 11:57] zurk commented on #539
ah, you about that! Now I see. Ok, I'll create another issue about my [observations](https://github.com/src-d/style-analyzer/issues/539#issuecomment-455482091)

[2019-01-18 14:58] EgorBu commented on #539
Anyway, we need to investigate the limitations of GitHub `suggestion feature` - to be able to provide applicable `suggestions` in the future.

[2019-01-18 15:10] EgorBu commented on #539
So, it's possible from the tab for files/changes but not possible from the discussion tab.
https://github.com/EgorBu/carlo/pull/6/files#r248745156
https://github.com/EgorBu/carlo/pull/6#discussion_r248745156

[2019-01-18 15:10] #539 closed

[2019-01-21 11:23] m09 opened #540 "Number of hyperparam optimization steps is too low for production"
ATM we restricted the number of hyperparam steps to 10 to speed up development. It should be higher for production (50 or 100)

[2019-01-22 09:53] zurk commented on #511
Fresh raw report summaries without attributes pruning for https://github.com/src-d/style-analyzer/commit/171ebabf5399d7fe2ab812903a58e854a1b1e519

# How to reproduce:
1. Disable pruning in `analyzer.py`: `"prune_attributes": False, "uncertain_attributes": False`
2. Run `make report-quality`

# Train report

| repo               |   precision |   recall |   full_recall |    f1 |   full_f1 |   ppcr

[2019-01-22 14:30] #532 closed

[2019-01-23 10:16] zurk commented on #511
Fresh raw report summaries **with** attributes pruning for https://github.com/src-d/style-analyzer/commit/171ebabf5399d7fe2ab812903a58e854a1b1e519

# How to reproduce:
2. Run `make report-quality`

# Train report

| repo               |   precision |   recall |   full_recall |    f1 |   full_f1 |   ppcr |   support |   full_support |   Rules Number |   Average Rule Len |
|:-------------------|----

[2019-01-23 12:13] zurk commented on #540
solved with https://github.com/src-d/style-analyzer/pull/546

[2019-01-23 12:13] #540 closed

[2019-01-23 12:15] zurk commented on #528
Should be solved by https://github.com/src-d/style-analyzer/pull/537.
@vmarkovtsev can you confirm and close this issue?

[2019-01-23 12:19] zurk commented on #499
Solved with https://github.com/src-d/style-analyzer/pull/534.
@vmarkovtsev please confirm and close.

[2019-01-23 13:03] vmarkovtsev commented on #528
Yes, it is fixed

[2019-01-23 13:03] #528 closed

[2019-01-23 13:10] vmarkovtsev commented on #499
I confirm, `classification_report` is saved for each model.

[2019-01-23 13:10] #499 closed

[2019-01-24 07:14] vmarkovtsev opened #548 "[question] Double feature selection"
I have spotted

[code]

in the train function. I feel that we should not select features for the second time. Is it correct?

[2019-01-24 09:34] #548 closed

[2019-01-26 00:11] campoy opened #552 "Training a model fails"
Hi there,

Today I tried to use `style-analyzer` on a new repository, starting from scratch, as part of a demo and to better understand the whole project.

I failed, and this is a report on how.

### Following the quickstart guide

I tried to follow the [steps in this list](https://github.com/src-d/style-analyzer#how-to-use).
Unfortunately I don't understand how this could work, since there's no m

[2019-01-26 00:21] campoy commented on #552
Just to be sure I tried with a different repo, this time with vue (https://github.com/vuejs/vue) and the same error occurred (just much faster).

[code]

[2019-01-26 00:48] campoy commented on #552
After a while, it seems something happened and maybe the analyzer that I started running initially actually trained something?

I see these logs:

[code]

The logs are full of messages of this style:

[code]

And when I send a PR https://github.com/campoy/node/pull/4/files to the analyzer the parser fails:

[code]

[2019-01-26 07:52] vmarkovtsev commented on #552
According to the logs, the babelfish driver has a wrong version. We will insert the check since it is critical.

So we need to update the docs, because everything has changed recently. There are two ways to run the thing, you tried the developer's way and it is more tricky to setup.

[2019-01-26 08:09] vmarkovtsev commented on #552
Version check is blocked by https://github.com/bblfsh/client-python/issues/141

[2019-01-28 10:54] zurk commented on #511
New reports with pruning for https://github.com/src-d/style-analyzer/commit/fdf2a03976627967fa9422f1c06611f77c433380

# Train report

| repo               |   precision |   recall |   full_recall |    f1 |   full_f1 |   ppcr |   support |   full_support |   Rules Number |   Average Rule Len |
|:-------------------|------------:|---------:|--------------:|------:|----------:|-------:|----------:|--

[2019-01-28 11:03] vmarkovtsev commented on #511
@zurk I feel that Babelfish is playing tricks again. For example:

[code]

[2019-01-28 11:22] zurk commented on #511
yes!

[2019-01-28 11:33] vmarkovtsev commented on #511
@zurk Can you please attach the logs

[2019-01-28 12:15] zurk commented on #511
yes, I updated https://github.com/src-d/style-analyzer/issues/511#issuecomment-458083984.

[2019-01-28 13:23] vmarkovtsev opened #553 "Include the factual number of rules in the report"
Currently, we report that our models contain the number of rules before the second threshold. We need to report the number after the second threshold.

[2019-01-28 14:25] vmarkovtsev commented on #511
react-native on my laptop:

train

| repo             |   precision |   recall |   full_recall |    f1 |   full_f1 |   ppcr |   support |   full_support |   Rules Number |   Average Rule Len |
|:-----------------|------------:|---------:|--------------:|------:|----------:|-------:|----------:|---------------:|---------------:|-------------------:|
| react-native     |       0.827 |    0.827 |

[2019-01-28 19:59] vmarkovtsev commented on #511
@zurk Can you try without the 2MB limit on react-native.

[2019-01-28 22:14] vmarkovtsev commented on #511
The original issue has been resolved. Let's open another one.

[2019-01-28 22:14] #511 closed

[2019-01-29 01:49] campoy commented on #552
The babelfish driver for javascript is docker://bblfsh/javascript-driver:v1.2.0 ... isn't that the correct one?

[2019-01-29 06:37] vmarkovtsev commented on #552
From my experience, sometimes you are sure that the driver is correct - but it's actually not. I had exactly the same problem before the Eng demo.

[2019-01-29 09:18] zurk opened #557 "Two identical report runs can give different results"
Ancestor issue: https://github.com/src-d/style-analyzer/issues/511

Commit: https://github.com/src-d/style-analyzer/commit/fdf2a03976627967fa9422f1c06611f77c433380

Report 1: [quality_report_20190125_fdf2a03.zip](https://github.com/src-d/style-analyzer/files/2802879/quality_report_20190125_fdf2a03.zip)
Report 2: [quality_report_2_fdf2a03.zip](https://github.com/src-d/style-analyzer/files/2806883/q

[2019-01-29 09:43] vmarkovtsev opened #558 "Rules include redundant attributes"
I have spotted the same pattern several times. Our rules may have several attributes which are described as

[code]

or similar. This includes our paper which I edited by hand. The redundant part "not in" should be removed.

[2019-01-29 09:59] vmarkovtsev opened #559 "Simplify rule descriptions implementation"
I digged the current implementation in `descriptions.py` and found it overcomplicated and very hard to understand. We should get rid of `@singledispatch` because it goes against "explicit is better than implicit" Zen of Python. The logic should be organized using the common Python machinery: dicts, functions and regular decorators. No metaclasses, no generics, no single dispatch.

[2019-01-29 11:43] zurk commented on #557
So, I was able to confirm that bblfsh behaves differently.
There is a message `"request processed content 3563 bytes, status Fatal\" elapsed=5.000225686s filename=\"resources/js/routes.js\" language=javascript\n"` in the second run logs and no such message for the first one.

both logs files [bblfsh_logs.zip](https://github.com/src-d/style-analyzer/files/2807476/bblfsh_logs.zip)

@vmarkovtsev sugg

[2019-01-29 11:47] vmarkovtsev commented on #557
@dennwc @creachadair this makes our life much more complex ^
Also CC-ing @smacker - maybe something misbehaves on Lookout side...

[2019-01-29 12:32] zurk commented on #557
Unfortunately, I haven't a good way to reproduce weird bblfsh behavior, in case you wonder how to reproduce the bug. But I can show my experiment scripts to reproduce these logs:
I run it on science-3
[code]

inside docker image
[code]

So If I run these scripts twice I can get different results. I see that the different number of UAST Nodes was collected for some repos. The same I see in bblfsh l

[2019-01-29 17:09] #559 closed

[2019-01-29 22:38] campoy commented on #552
This is a serious problem, then.

Does this mean there's an issue on babelfish not pulling the right version? If so, the @src-d/language-analysis should be aware of this.

[2019-01-29 22:56] vmarkovtsev commented on #552
It pulls but it is still tricky because a tiny mistake ruins everything.

[2019-01-30 00:02] creachadair commented on #552
Sorry, I may be missing some context here: What kind of mistake can cause this to happen? If we can do something to make such errors less likely, I'm interested to know.

[2019-01-30 06:34] vmarkovtsev commented on #552
I was mainly talking about docker: a container restart kills the driver if there is no volume.

[2019-01-30 09:52] m09 commented on #552
In my experience it happens when you first install the recommended driver and then install the correct version.

[2019-01-30 09:56] #433 closed

[2019-01-30 14:33] zurk commented on #557
My investigation output mostly described here: https://github.com/bblfsh/bblfshd/issues/236

**TL;DR:**
1. Was able to reproduce on pure Python. So it is bblfsh problem and not lookout.
2. The utility I added in https://github.com/src-d/style-analyzer/pull/562 to check bblfsh output vnodes number is hard to use because bbflsh is much more unstable then I expected. @vmarkovtsev suggests restarting

[2019-01-30 15:10] zurk commented on #552
My experience is the same as Hugo's. And there is an issue https://github.com/bblfsh/bblfshd/issues/184.

[2019-01-30 18:03] vmarkovtsev opened #568 "Upgrade the deployment scripts"
There is a better docker compose template in https://github.com/src-d/lookout-sdk-ml/tree/master/lookout/core/container - we should copy swagger from it and the files nearby.

[2019-02-01 14:43] vmarkovtsev commented on #568
The major one is with the usage of `sleep` to ensure the startup sequence which I successfully fixed with port/postgres polling.

[2019-02-04 14:24] campoy commented on #552
Ok, I'll close this as a duplicate of bblfsh/bblfshd#184 in that case

[2019-02-04 14:24] #552 closed

[2019-02-05 11:36] rporres commented on #568
Any available logs?

[2019-02-05 12:21] zurk opened #578 "Migrate from v1 JS driver to v2"
v1 is not maintained for a long time and there is a bunch of problem with v1 JS driver that expected to be fixed only in v2 version.
For example https://github.com/bblfsh/javascript-driver/issues/54

We should consider migrating after we finish with a refactoring milestone.

[2019-02-05 12:30] vmarkovtsev commented on #568
@rporres Here https://youtu.be/ixxYwcLdkfI?t=3071

The analyzer took more than 5 seconds to start due to Zoom CPU overload and the whole thing broke.

[2019-02-05 12:42] zurk opened #579 "Split quotes tokens from "regular" formatting tokens such as spaces, newlines etc."
Quotes are different from the main set of tokens we consider.

Now we get such labels as `"⏎⏎⇥⁺⇥⁺`. It makes much harder to properly implement suggestion change feature. If you change `"⏎⏎⇥⁺⇥⁺` to `'⏎⏎⇥⁺⇥⁺` it is a first line change, and to `"⏎⏎⏎⇥⁺⇥⁺` it is second line change.

This change should not make our ML problem ill-posed.

I think when we include `;` token for JS (https://github.com/src-d

[2019-02-05 12:48] vmarkovtsev opened #580 "Mismatch in the number of generated/posted comments"
I noticed that sometimes style-analyzer reports 2 comments in the logs, but only one gets posted. Maybe related to not predicting quotes - my samples contained quote changes.

[2019-02-05 12:50] zurk commented on #580
Any example link to PR or a way to reproduce helps a lot if available.

[2019-02-05 12:58] m09 commented on #579
It is a good change :+1: I thought about it a bit and it should not cause new problems.

[2019-02-05 14:39] irinakhismatullina opened #581 "Implement typos model training from scratch"
Implement command line util for training typos corrector model from scratch.

1. Use big dataset of identifiers.
2. Support parameters change, but all parameters should have default values.
3. Support possibility to derive vocabulary from the dataset.

[2019-02-05 14:48] irinakhismatullina opened #582 "Improve typos model adjusting to a repo"
_Def._ token - element of identifier split.

- [x] Check only tokens from the whole new identifiers.
- [x] Check only new tokens.
- [x] Add tokens from a repo to the model vocabulary during the analyzer training.

[2019-02-05 14:49] irinakhismatullina opened #583 "Use "Suggest change" github feature in typos comments"

[2019-02-05 15:04] zurk commented on #522
The first part in PR: https://github.com/src-d/style-analyzer/pull/584

To continue with this issue I should implement https://github.com/src-d/style-analyzer/issues/523 first

[2019-02-05 15:15] zurk commented on #557
It was accidentally closed

[2019-02-07 15:34] bzz commented on #578
Issue has been moved to https://github.com/bblfsh/javascript-driver/issues/54

[2019-02-07 17:04] zurk commented on #578
yup, it old link redirects to a new one but I changed it anyway, thanks!

[2019-02-09 07:49] #557 closed

[2019-02-11 09:23] #522 closed

[2019-02-11 09:23] #523 closed

[2019-02-11 09:23] #579 closed

[2019-02-11 09:27] vmarkovtsev opened #593 "Add a 20th repository to the quality report"
I don't like "19", it is not round. Let's have 20 test repositories in the CSV. The candidates should be rather well-known and moderately sized.

[2019-02-11 10:25] zurk opened #594 "Fix CodeGenerator for meteor report"
After last changes were applied to GodeGenerator (https://github.com/src-d/style-analyzer/pull/586) it failed to Generate new line suggestion for `packages/deprecated/jquery-layout/jquery.layout.js`

Traceback:

[code]

[2019-02-11 10:27] zurk opened #595 "Investigate performance drop for react-native repo with new tokens structure."
Context: https://github.com/src-d/style-analyzer/pull/586#issuecomment-462261585

[2019-02-11 11:12] zurk commented on #594
this file https://github.com/meteor/meteor/blob/62fa9927ce34cff064cc3991439553e7c52b5258/packages/deprecated/jquery-layout/jquery.layout.js

[2019-02-11 11:46] carlosms opened #596 "Documentation for a normal deployment"
The docs do not include instructions to run the analyzer from the published docker image.

[2019-02-11 11:51] carlosms opened #597 "No progress indication when the training is performed"
When the analyzer is busy doing the initial training the logs do not show anything.
Since this process can take hours, it would be nice to get some kind of progress indication in the logs; or maybe a periodic log message to indicate that the training is still in progress.

Otherwise it looks like something failed and it is stuck.

[2019-02-11 11:55] carlosms opened #598 "Documentation for each field in config.yml"
The `config.yml` file in [the docs](https://github.com/src-d/style-analyzer/blob/master/doc/how-to/developer.md) could have comments above each field to explain what they are.

In my case, I configured a docker volume to persist the sqlite DB only, and later I realized that the contents of `fs` are also needed to persist the models. With a default value of `/tmp` I just assumed it was used for dis

[2019-02-11 12:49] vmarkovtsev commented on #597
@carlosms we've got an awesome progress indication at debug log level. I have also improved them at info level. Could you please check both info and debug, if the first is still too brief you can switch to the second.

[2019-02-11 21:44] zurk commented on #445
solved

[2019-02-11 21:44] #445 closed

[2019-02-13 15:06] zurk opened #605 "Failed to fix formating in JSX"
[JSX](https://reactjs.org/docs/introducing-jsx.html) is a syntax extension to JavaScript.  It can be converted to a proper JS with [babel tool](https://babeljs.io/docs/en/babel-plugin-transform-react-jsx)
<details>
  <summary>The JSX code looks like:</summary>

[code]
</details>
<details>
  <summary>UASTv1 for this code looks like</summary>

[code]
</details>

You can see that formatting sequences

[2019-02-14 10:09] zurk commented on #594
Fixed in current master.
Report with meteor https://github.com/src-d/style-analyzer/pull/602#issuecomment-463567347

[2019-02-14 10:09] #594 closed

[2019-02-14 10:23] zurk commented on #593
I can suggest choosing from:
* https://github.com/zloirock/core-js
* https://github.com/parcel-bundler/parcel
* https://github.com/yahoo/react-intl

[2019-02-14 10:27] zurk commented on #596
@carlosms I see you mention all issues you created in lookout-demo issue.
Are some of them are urgent and blocking or we just should fix them before the demo?

[2019-02-14 10:36] zurk opened #606 "FormatAnalyser should not fail if CodeGenerator fails"
In this case, we just miss Github Suggestion Feature but can at least give a message without it.
I suggest to log a warning about such cases and investigate them later without FormatAnalyser failure.

[2019-02-14 10:37] zurk opened #607 "Add commit hash to quality report file"
It helps to not confuse a bunch of reports with each other.

[2019-02-14 10:42] zurk opened #608 "Regenerate quality_report_repos_with_vnodes_number.csv"
As soon as we change vnode structure `quality_report_repos_with_vnodes_number.csv` is outdated and we cannot run the quality report with a check for a number of vnodes.

Also, we should use the number of bblfsh nodes instead if it is easy to change.

[2019-02-14 10:43] carlosms commented on #596
The demo deployment was done successfully, this was just a list of problems I faced.
Sorry for the confusion, I'll update the empathy session description.

[2019-02-14 10:48] vmarkovtsev commented on #593
@zurk Parcel is using Prettier so I expect very good performance.

Can you measure core-js and Parcel?

[2019-02-14 10:48] zurk opened #609 "Add NOOP after and before quote if there is no labeled vnodes"
I mention that when you have a string `var t = "asd";`and parse it into a sequence of vnodes you get
[code]

And if you want to insert space between last `"` and `;` you cannot because there is no NOOP from parser.

[2019-02-14 11:17] vmarkovtsev commented on #341
Done

[2019-02-14 11:17] #341 closed

[2019-02-14 11:19] vmarkovtsev commented on #312
Done - we limit by the overall size

[2019-02-14 11:19] #312 closed

[2019-02-14 12:01] zurk commented on #593
[code]

both look quite good, but `parcel` is smaller in perms of support.

[2019-02-14 12:26] zurk commented on #522
After a lot of bug fixing work here we report result for https://github.com/src-d/style-analyzer/commit/eb2ec03d702cfbacfe2bfd1601cede2320ea4884
[quality-report-eb2ec03d702cfbacfe2bfd1601cede2320ea4884.tar.gz](https://github.com/src-d/style-analyzer/files/2864951/quality-report-eb2ec03d702cfbacfe2bfd1601cede2320ea4884.tar.gz)

[2019-02-14 13:45] vmarkovtsev commented on #593
All right, let's take core-js

[2019-02-14 14:38] warenlg commented on #333
I also assigned myself here because I'm dealing with this issue when refreshing the noisy quality report generation after the paper rush, e.g. recall -> ppcr -> PredR etc https://github.com/src-d/style-analyzer/pull/591

[2019-02-14 15:00] #593 closed

[2019-02-15 09:06] zurk commented on #608
File updated, Use bblfsh nodes instead is left.

[2019-02-15 12:40] zurk commented on #595
What I can see from the [reports](https://github.com/src-d/style-analyzer/pull/602#issuecomment-463567347):
[code]

* First of all, it is not related to trailing characters because there is no such. So, it is only about quotes
* There is big PPCR increase (+5.3%) in test part.
* A huge amount of rules (+400%) -- maybe we did not find good parameters by GridSearch

I also take the repo with the big

[2019-02-15 13:12] zurk commented on #538
Fixed.

[2019-02-15 13:12] #538 closed

[2019-02-18 07:48] zurk commented on #521
I think that this refactoring issue is an important one to do. We do not have time to implement UIMA approach for Python, so, I think that the easiest solution will be to create a new class `AnnotatedVirtualNode`:
[code]
And put here all annotations we may need. After that, we agreed that `VirtualNode` is immutable and that is.

It is a simple approach and maybe I missed some important details why

[2019-02-19 11:00] #441 closed

[2019-02-19 13:24] #606 closed

[2019-02-19 13:49] #435 closed

[2019-02-19 15:03] m09 commented on #521
This is mostly what we currently have. Some problems include:

- the number and location of attributes is not always the same (basic formatting classes are more numerous than merged formatting classes. Merged formatting classes are more numerous than filtered merged formatting classes, etc)
- this relies on us not modifying values, it's not enforced even slightly by design
- type annotations are n

[2019-02-19 18:02] zurk commented on #521
ok, I knew that I just did not see the problem in all colors. :)
`AnnotatedVirtualNode` v2:
[code]
Also we can add a check function to know if this node is annotated as expected.
Should be easy to introduce into the codebase and covers all your points.

Do you see any drawbacks?

[2019-02-19 18:57] #524 closed

[2019-02-20 11:03] m09 commented on #521
Sadly this does not solve the biggest problem (potentially different number/location of annotations for each type). More generally, I don't think there is a shortcut that can reap the benefits of a proper annotation pattern while needing only a small refactoring.

[2019-02-20 11:35] zurk commented on #521
Sorry, @m09, I did not get the problem about "different number/location of annotations for each type".
Not sure what do you mean by "type" and "location" and why we cannot have a set of 5 possible annotations that will cover all our needs.

You did not mention this problem, but we can also have special decorators for functions to check that vnode sequence has required annotations

[2019-02-20 14:37] m09 commented on #521
By type I just mean a different annotation (so for example y and predicted would be different annotations). By different numbers and locations I mean what I already mentioned: atomic classes cannot be attributes of the same object than y and predicted because there are many more of them (they annotate different locations of the code).

In a nutshell: what's needed is to have a separate list of obj

[2019-02-20 17:00] zurk commented on #521
Ah, now I see the problem about vnodes sequence with atomic classes and vnodes sequence with merged classes.

However, I think that we can consider these sequences as completely different. Moreover, the first one is kind of internal and appears only inside `FeatureExtractor._parce_vnodes()` function. Maybe it is not the best solution to use the same `VirtualNode` class for both because the vnode m

[2019-02-20 18:10] m09 commented on #521
Don't worry, I don't get it wrong :relaxed: It's just that we should probably close this issue and open a new one with different refactoring ideas since those won't be close to implementing annotations. We should keep this pattern in mind for our next project though.

Renaming some of the attributes and adding a few new ones to be more explicit is indeed a way forward :+1:

[2019-02-20 18:45] zurk commented on #521
Ok, we need @vmarkovtsev to have a decision here.

Actually approach I described in https://github.com/src-d/style-analyzer/issues/521#issuecomment-465242981 perfectly consistent with issue description so I think we can keep it, maybe with renaming.

[2019-02-20 18:54] m09 commented on #521
It's not perfectly consistent since it doesn't implement the pattern that we wanted to implement. TBH I'm not even sure it helps compared to current codebase. The point of having separate annotations is that a given piece of code only considers a given type of annotation and has no filtering/validation to do. If we don't have that we miss the gist of the pattern.

[2019-02-20 19:04] zurk commented on #521
ok, I see. let's discuss it tomorrow.

[2019-02-21 11:44] vmarkovtsev commented on #521
Discussed at the meeting. Actions:

- Write the core parsing in lookout-sdk-ml. Describe the classes, agree on the structure and then implement it.
- Add the rest of the annotators to style-analyzer, replace the existing parsing and convert to the old format
- Remove the conversion and replace everything left

[2019-02-21 13:36] m09 opened #634 "Improve optional arguments type annotations"
Following [this comment](https://github.com/src-d/style-analyzer/pull/616#pullrequestreview-206273006), we need to improve the type annotations of optional arguments (most of them lack the `Optional`).

[2019-02-22 10:39] zurk commented on #595
What I did:
1. Train model `v010`
2. Review the model `v010` parameters and compare them to the new parameters set.
  2.1 Rule number boost was because of Random forest. The old model uses decision tree.
  2.2 See that our unpretentious feature selection algorithm select quite a different set of features.
3. I disable RandomForest and pin features to the same that was selected in `v010` model and

[2019-02-22 10:44] m09 commented on #595
If we research feature selection again then it's worth studying [feature agglomeration](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.FeatureAgglomeration.html#sklearn.cluster.FeatureAgglomeration) instead of selection. Also it's worth discussing running the feature selection on a selected set of repos and not train it again for each repo.

[2019-02-22 11:06] vmarkovtsev commented on #595
@m09 Can we add feature selection to our Optimizer? We could raise the initial number from 500 to 2000 and then pick 500 from those 2000.

[2019-02-22 11:07] #595 closed

[2019-02-22 11:22] m09 commented on #595
@vmarkovtsev It should be doable yes. We can select over the 4k in hyperparameter-opt (or aggregate, as mentioned above). The really _too_ expensive thing to run in hyperparameter-opt is feature extraction, even though we'd need to. Selection is fast enough I think.

[2019-02-22 11:23] zurk opened #637 "Improve feature selection process"
Context: https://github.com/src-d/style-analyzer/issues/595#issuecomment-466353578

Things we want to try:
- [ ] preselect features by hands
- [ ] add Feature selection to GridSearch
- [ ] [feature agglomeration](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.FeatureAgglomeration.html#sklearn.cluster.FeatureAgglomeration)
- [ ] Train feature selection only once per repo (pin sel

[2019-02-22 11:24] zurk commented on #595
Let's continue here: https://github.com/src-d/style-analyzer/issues/637 please add If I miss something.

[2019-02-22 11:26] m09 commented on #637
For the last point I was more thinking about selecting over a set of training repos (for example by taking the top 500 most selected features over all the repos selections) but indeed it might also be good to try this version.

[2019-02-26 08:51] warenlg commented on #489
This is obselete. I tested the noisy quality report generation with this PR https://github.com/src-d/style-analyzer/pull/591 and it looks fine.

[2019-02-26 08:51] #489 closed

[2019-02-26 09:19] #434 closed

[2019-02-26 09:46] zurk commented on #333
@warenlg I think you misunderstand [the original issue](https://github.com/src-d/style-analyzer/issues/333#issue-383039075), because there is no changes in smoke evaluation part, so nothing related to this issue.

[2019-02-26 14:13] zurk commented on #521
<details>
<summary>Core Annotation classes</summary>

[code]

</details>
<br/>
We have a quick call with @m09 and he ok with this structure. Hugo, any additional comments are welcome. `to_vnodes` method should be removed as soon as we rewrite everything with annotations.

I start to code proper implementation for these classes and after that, I begin style-analyzer code migration.

[2019-02-26 14:39] #553 closed

[2019-02-26 14:47] warenlg commented on #333
No, I perfectly understood the issue. You named it "Rename benchmark metrics", and not "Rename benchmark metrics in smoke", we use different benchmark metrics in smoke, noisy, and general report. In the PR https://github.com/src-d/style-analyzer/pull/591 I changed and renames the metrics used in the noisy report, that's why I said that it "partially fix the issue" https://github.com/src-d/style-an

[2019-02-26 15:31] zurk commented on #333
ok, I updated issue description because it was misleading when we include rest reports here.

[2019-02-27 10:11] zurk opened #651 "Get repo name from ptr_from in smoke dataset evaluation."
Delete ["repo_name"] from config.
Context: https://github.com/src-d/style-analyzer/pull/650#discussion_r260662182

[2019-02-27 10:44] zurk commented on #634
I think this one is solved in https://github.com/src-d/style-analyzer/pull/644
@irinakhismatullina can you confirm?

[2019-02-27 10:45] irinakhismatullina commented on #634
Yes it is

[2019-02-27 10:56] zurk commented on #502
Is it solved, guys? There is no such file `style-analyzer/lookout/style/format/files_filtering.py` anymore.

[2019-02-27 10:56] vmarkovtsev commented on #502
Not really, @warenlg is pending to rebase what's left in his older commits.

[2019-02-27 10:57] warenlg commented on #502
Yes, I'm on it right now

[2019-02-27 11:02] #634 closed

[2019-02-28 09:49] warenlg commented on #502
Order of review required:
1. https://github.com/src-d/lookout-sdk-ml/pull/64
2. lookout release
3. https://github.com/src-d/style-analyzer/pull/652

[2019-02-28 14:14] #333 closed

[2019-02-28 16:31] #502 closed

[2019-02-28 17:01] warenlg commented on #501
Fixed by https://github.com/src-d/style-analyzer/pull/652

[2019-02-28 17:01] #501 closed

[2019-03-05 09:37] zurk opened #658 "Refactor QualityReport"
We should finish `QualityReport` and `GeneralReport` refactoring so they become easily extendable and without code duplication, we have right now: https://github.com/src-d/style-analyzer/blob/master/lookout/style/format/benchmarks/quality_report.py#L370-L378

[2019-03-05 09:59] #651 closed

[2019-03-06 09:47] EgorBu opened #662 "Generate corrected identifier"
After typos correction, a new identifier should be generated with the same style as the one before correction.

[2019-03-06 10:57] vmarkovtsev commented on #662
@EgorBu Can you please add the core function to sourced-ml and use it here:

[code]

[2019-03-06 11:07] EgorBu commented on #662
Yes, it was the initial idea to add it to `src-d/ml`.

[2019-03-06 11:21] #263 closed

[2019-03-06 12:32] zurk opened #663 "FeatureExtractor._fill_vnode_parents() bug"
Sometimes you get a parent UAST node for the vnode wrongly.
Example:
[code]
So parent does not cover original UAST Node by offsets.

[2019-03-06 12:35] zurk commented on #663
How to reproduce:
Take this PR: https://github.com/src-d/style-analyzer/pull/664
Run
[code]
in the logs you see
[code]

[2019-03-06 13:50] vmarkovtsev commented on #663
@zurk This looks like a bug in the driver, doesn't it... But why do we depend on this? Is it for annotations?

[2019-03-06 13:53] vmarkovtsev opened #666 "Port to the latest Javascript driver version"
We need to investigate why the newer releases do not work with our code, report possible bugs to Babelfish and switch to the latest JS driver version.

[2019-03-06 14:19] vmarkovtsev commented on #666
BTW @zurk this can be fused with the annotations refactoring.

[2019-03-06 14:25] vmarkovtsev opened #667 "Optimize the typos tests"
- Reduce the amount of work done
- Mark with `@long-test` those which have to be long-running
- Hack `.travis.yml` to spawn separate jobs with typos tests

[2019-03-06 15:09] zurk commented on #663
I do not think so. The driver returns good positions for nodes. And as I get the code we are trying to get the UAST node that covers our VirtualNode. And it is a bug if not covered.

Proper parents required for `UASTStabilityChecker`. Assert triggers in
https://github.com/src-d/style-analyzer/blob/ab29f545b6bcbf8b6ecb4fd9f8cf3a58ec815748/lookout/style/format/uast_stability_checker.py#L142

Because

[2019-03-06 15:13] zurk commented on #666
I'd like to do it separately.

[2019-03-06 15:49] vmarkovtsev commented on #666
"The latest JS driver" does not mean UASTv2 - it means upgrading the driver. And regarding the annotations, I am afraid that you will have to repeat some of the work twice otherwise.

[2019-03-06 15:50] vmarkovtsev commented on #666
If we see that the latest JS driver works incorrectly with UASTv1 protocol, we should report it as an issue and ask LA to fix it ASAP.

[2019-03-06 16:01] zurk commented on #666
Ok, I know that there are some issues for sure. AFAIK, UASTv1 is not clearly the same as an annotated mode in new drivers. Will see.

It is fine. Annotation is about the shape of the code and this issue can touch its logic.

[2019-03-06 18:55] rporres opened #670 "Password can be leaked in logs"
The first line of the log prints the `db` parameter as it is passed. That means password may be written in the logs, which should not happen, e.g (formatted)

[code]

[2019-03-07 15:26] vmarkovtsev commented on #670
Good catch...

[2019-03-08 12:03] vmarkovtsev opened #674 "Commit reports for 0.1.1"
We don't have them for the recently released 0.1.1

[2019-03-08 12:05] vmarkovtsev opened #675 "Include the logs into the release reports"
Logs are much valuable for analysis, so we should commit them together with the Markdown files. It is worth to `xz` them.

[2019-03-08 12:30] zurk commented on #674
I add for quality-report but I miss logs for noisy.
Well, I have it but there is only
[code]
inside.

I think logging was broken. If we really need it, we can fix and restore it for v010.
@vmarkovtsev should I do it?

[2019-03-08 12:32] zurk commented on #675
actually, we do:
https://github.com/src-d/style-analyzer/blob/df9d1b2cd5926933db18f58295ddfc2503a29b49/Makefile#L67
we just should not delete it. :sweat_smile:
I'll add compression.

[2019-03-08 12:33] vmarkovtsev commented on #674
Yeah, but this is the issue about 0.1.1 reports...

Regarding logs in 0.1.0, ok.

[2019-03-08 12:36] zurk commented on #674
Ok, it was rush release and there were some problems.
To generate reports we should fix https://github.com/src-d/style-analyzer/issues/663 first.
As I checked several days ago I have the same issue for some repos for a quality report. So we fail to generate reports now.

[2019-03-11 09:40] zurk commented on #666
I report several minor issues related to javascript driver:
* https://github.com/bblfsh/javascript-driver/issues/65
* https://github.com/bblfsh/javascript-driver/issues/66

However, the biggest problem is on our side. We currently use `v1.2.0` driver and the driver wrongly returns Node positions for Unicode string. `v2.6.0` returns offsets for byte string, so we should recalculate them back to Uni

[2019-03-12 08:56] irinakhismatullina opened #685 "Move all typos analyzer's parameters to a single config"
Create single config for IdTyposAnalyzer and TyposCorrector models with all default parameters for training and analyzing.

[2019-03-12 09:03] EgorBu commented on #685
Even more - some parameters should be shared among several analyzers - `Format`/`Typos`/etc. For example parameters for `filter_files`:
[code]

[2019-03-12 09:05] EgorBu opened #686 "Reanimate `IdTyposAnalyzer`"
Right now `IdTyposAnalyzer` can't be launched as analyzer:
`python3 -m lookout run lookout.style.typos -c config.yml`
and
`lookout-sdk review --git-dir /repo --config-json='{"lookout.style.typos":{"model":"/path/to/corrector.asdf"}}'`
leads to crash right now.

[2019-03-12 09:06] EgorBu commented on #583
Tried to launch to check comments and failed - https://github.com/src-d/style-analyzer/issues/686

[2019-03-12 09:17] zurk commented on #685
👍 for the issue

However, let's not merge shared parameters for now, because different analyzers will possibly have different default values.

[2019-03-12 09:17] irinakhismatullina opened #687 "Create class for typos correction suggestions."
To improve readability, needed to be done a long time ago.

[2019-03-12 09:22] EgorBu commented on #685
it's not implemented yet, let's discuss it at ML sync.
TBH I think some common configuration could be even moved to `lookout/core` (as config for `filter_files` I mentioned above)

[2019-03-12 09:57] irinakhismatullina opened #689 "Create small test repo with typos to test typos analyzer"
Just to check it's ability to run, comments format and so on, not quality.

[2019-03-12 11:41] EgorBu commented on #687
what's wrong with `lookout.core.api.service_analyzer_pb2.Comment`?
Or is this issue for results from `TyposCorrectorManager`?

[2019-03-12 14:27] irinakhismatullina commented on #687
Yes, it is for the result from `TyposCorrector.suggest()`.

[2019-03-12 15:47] zurk commented on #666
One more. https://github.com/bblfsh/javascript-driver/issues/67
I think that there are more files that are parsable with `v1.2.0` but not with `v2.6.0`
I am going to create a list tomorrow.

[2019-03-13 08:30] zurk commented on #666
PR: https://github.com/src-d/style-analyzer/pull/692
Issue is blocked until v.2.7.0 driver release.

[2019-03-13 11:48] vmarkovtsev commented on #667
Done

[2019-03-13 11:48] #667 closed

[2019-03-13 11:48] vmarkovtsev commented on #675
@zurk any progress on this?

[2019-03-13 12:33] zurk commented on #675
there is a PR above linked to this issue: https://github.com/src-d/style-analyzer/pull/694

[2019-03-13 15:01] #675 closed

[2019-03-14 15:56] zurk opened #704 "Create report system for typos analyzer"
Related PR https://github.com/src-d/style-analyzer/pull/703
First in a batch.

[2019-03-15 09:45] EgorBu commented on #686
Solved by https://github.com/src-d/style-analyzer/pull/690

[2019-03-15 09:45] #686 closed

[2019-03-15 09:46] EgorBu commented on #662
Solved by https://github.com/src-d/style-analyzer/pull/673

[2019-03-15 09:46] #662 closed

[2019-03-15 16:17] EgorBu commented on #583
Related PR https://github.com/src-d/style-analyzer/pull/709

## Example output 1
Possible typos in `Token_Taken_Tuken`, suggestions:
Candidate 1 with confidence 33%
[code]
Candidate 2 with confidence 33%
[code]
Candidate 3 with confidence 32%
[code]

## Example output 2
Possible typos in `someWrang_Variuble_NOME`, suggestions:
Candidate 1 with confidence 33%
[code]
Candidate 2 with confidence 33%

[2019-03-19 10:13] vmarkovtsev opened #711 "Upload the trained global typo correction model to Modelforge"
Upon finishing training the global typos model, we need to upload it to Modelforge.
There should be another command added to the toolbox for it.
It requires the secret file with GCS credentials, I will provide it in DM.

Reference: https://github.com/src-d/modelforge/blob/master/doc/cmdline.md#adding-a-model

The rest of the code must be changed to use the global readonly instance of the model whi

[2019-03-19 10:13] vmarkovtsev commented on #711
Blocks #710

[2019-03-19 10:15] vmarkovtsev commented on #711
\+ we need to provide a good description for this model which clearly specifies the intended use cases.

[2019-03-20 10:50] irinakhismatullina commented on #711
Here is the loaded model https://github.com/src-d/models/pull/14.

[2019-03-20 11:33] vmarkovtsev commented on #663
Assigning @m09 since I don't have resources to investigate this.

[2019-03-20 16:47] m09 commented on #663
@zurk I could not reproduce (I cloned the branch and ran the command, everything was ok). Can you check if this still happens for you?

[2019-03-20 18:20] m09 commented on #670
@rporres please let us know if you spot passwords in logs again. If it looks ok in new deployments we'll close :)

[2019-03-20 18:48] m09 commented on #663
It still happens when running the full report, I'll launch tonight and investigate tomorrow.

[2019-03-21 08:45] m09 opened #715 "~60 parsing errors during report generation"
I remember that we had killed all parsing errors at some point. They seem to be back.

<details>
<summary>Errors</summary>

[code]
</details>

[2019-03-21 08:52] m09 commented on #715
They seem also present in 0.1.0 (even 94 instead of 59) so maybe we did not kill them after all.

[2019-03-21 09:24] m09 opened #716 "Predictions are made for deleted files"
Excerpt from `quality_report_repos.csv`:

    url,to,from
    https://github.com/reduxjs/redux,902484ed735d38aec06683c847810a7218d8dba2,b307091af4d7e846d9e5f080fb81caf4a8b4aab1

In that repo, one of the files we make predictions for (and actually get errors from) is `examples/todos-flow/src/__tests__/reducers/visibilityFilter.test.js`.

It is present in the `from` revision:

[code]

but not in the

[2019-03-21 10:21] zurk commented on #715
Yes, that is True. We do not kill them all.
It is all related to bad positions and it was hard to kill them.
I hope it should be better with v2.7.1 driver

[2019-03-21 10:24] zurk commented on #716
Did you get it from `make report-quality`?

We do not use `to` column from the related csv file. Only to make lookout works.
So It uses `from` column for train and analyze by design.

[2019-03-21 10:31] zurk commented on #704
Waiting for https://github.com/src-d/style-analyzer/pull/709 to be merged as it is an important one.
While waiting create General report system.

[2019-03-21 12:18] m09 commented on #716
Thanks for the precisions :)

To quote the comment I made on slack:

[2019-03-21 12:40] zurk commented on #716
Good point. We should try.
Last time I think about removal it was tricky because it is required to feed two unequal commits to `lookout-sdk review` call.

[2019-03-21 15:03] m09 commented on #716
The `from` commit and `HEAD` should work if I remember correctly. `from` should also probably be renamed to something like `rev` since it'll be the only one we'll be using.

[2019-03-21 21:43] #666 closed

[2019-03-26 14:05] zurk commented on #704
Status:
PR https://github.com/src-d/style-analyzer/pull/721 is ready to be reviewed but first:
1. #708 and https://github.com/src-d/style-analyzer/pull/725 should be merged
2. Updated typos corector model should be loaded by @irinakhismatullina (current master does not work)

To get report:
1. Merge https://github.com/src-d/style-analyzer/pull/721
1. Waiting @vmarkovtsev to fix commit hash in the

[2019-03-28 09:57] m09 commented on #663
To reproduce:
[code]

[2019-03-28 20:36] zurk opened #733 "Fix UastStabilityChecker"
Right now `UastStabilityChecker` relies on the fact that "A parent covers its children" in the UAST (See discussion https://github.com/src-d/style-analyzer/pull/732#discussion_r270110695)
It is not true and we should address it properly.

[2019-03-28 20:46] #663 closed

[2019-04-03 11:47] zurk opened #739 "Remove expected vnodes number calculation and check"
We use the new JS driver that has a fix for the original issue https://github.com/bblfsh/javascript-driver/issues/54. We can remove everything related to a workaround for this fix.

[2019-04-03 13:12] m09 commented on #674
Should be unblocked after the merge of #740.

[2019-04-03 13:43] m09 commented on #670
Closing for now, please @rporres open a new issue if you spot passwords again.

[2019-04-03 13:43] #670 closed

[2019-04-03 14:38] #733 closed

[2019-04-04 09:26] m09 commented on #674
Reports are running for `0.1.1` in the container `report_0.1.1`. Below I give the three scripts I used to installed the old version and cherry-pick some commits.

<details>
<summary>Outer script</summary>

[code]
</details>

<details>
<summary>Inner script</summary>

[code]
</details>

<details>
<summary>Content of cherry-pick-0.1.1.patch</summary>

[code]
</details>

[2019-04-04 09:48] zurk commented on #674
And I assume to run report generation you run something like
[code]
?

[2019-04-04 09:55] m09 commented on #674
with a few env variables set, yes

[2019-04-04 15:11] meyskens commented on #568
@vmarkovtsev if we understand it correctly you want the Helm chart to work the same as the docker compose file? However we have been unable to find the compose file.

[2019-04-04 15:53] vmarkovtsev commented on #568
It's here: https://github.com/src-d/lookout-sdk-ml/tree/master/lookout/core/container

[2019-04-08 09:02] rporres commented on #568
This looks like a docker-compose issue rather than a kubernetes one. If the database is not ready for any reason and style analyzer crashes retries will be handled by kubernetes.

There have been recently downtimes in staging style analyzer, but they were related to changes in the args parsing. See https://github.com/src-d/charts/pull/160

Feel free to open this if you see any issue in kubernetes

[2019-04-08 09:02] #568 closed

[2019-04-09 07:43] m09 opened #744 "Specify UTF-8 as encoding read-related methods"
ATM we often don't specify the encoding in `read` calls. We should instead specify `utf-8` everywhere: the default is platform dependent:

That means all our `read`, `pathlib.Path.read_text` and related calls should specify `encoding="utf-8"`.

[2019-04-09 08:37] vmarkovtsev commented on #744
There is an alternative: validate `sys.getdefaultencoding()` at import time and if it is not `utf-8`, print the workaround
(`LC_ALL=UTF-8 python3 script.py` or `export PYTHONIOENCODING=utf-8`) and exit immediately.

I like it more because:

1. The majority of the third-party dependencies do not specify  `encoding` for `open`.
2. It is very easy to miss and quite hard to maintain, unless there is a

[2019-04-09 09:40] m09 commented on #744
`bblfsh`, the main dependency we use to parse the files, enforces utf-8 for its input.

Indeed I checked quickly and it seems there is no existing flake option. It makes for a great OSD though. I agree that the proposed fix is faster to implement but I also think it's worse: we __can__ fix the problem directly and instead make using our tool harder to use in some cases.

[2019-04-09 11:19] #704 closed

[2019-04-11 10:45] irinakhismatullina opened #754 "Update gensim.fasttext usage"
New release of `gensim==3.7.2` broke several things in `CandidateGenerator` in `typos`:

1. Loading fasttext model from the file - _easy fix_.
2. Modelforge save/load functions are now broken because of the changed attributes in `FasttextKeyedVectors` class - _not nice, need to rewrite the_ `_generate_tree/_load_tree`, _but doable_.
3. Because of (2) new models for usage and testing should be trai

[2019-04-11 10:47] irinakhismatullina commented on #711
@vmarkovtsev I think it should be closed?

[2019-04-11 10:49] irinakhismatullina commented on #687
Added in #707.

[2019-04-11 10:49] #687 closed

[2019-04-11 10:50] irinakhismatullina commented on #685
Merged in #718.

[2019-04-11 10:50] #685 closed

[2019-04-11 10:53] irinakhismatullina commented on #582
Finished in #735.

[2019-04-11 10:53] #582 closed

[2019-04-11 10:54] irinakhismatullina commented on #581
Done in #684.

[2019-04-11 10:54] #581 closed

[2019-04-11 11:06] #711 closed

[2019-04-18 12:35] irinakhismatullina opened #758 "Improve typos analyzer quality"
Mostly about improving the quality of the current TyposCorrector model:

- Improve the data quality: https://github.com/src-d/ml/issues/403 and https://github.com/src-d/ml/issues/402 - _the most important stuff_, several stages of the pipeline depend strongly on it.
- -> Improve the vocabulary. Right now it's mostly fine, but with good splitting it will be much, much better.
- Work out the best fa

[2019-04-23 09:36] zurk commented on #521
Next steps:
1. [ ] Merge PR https://github.com/src-d/style-analyzer/pull/761
2. [ ] Add more tests
3. [ ] Resolve todos that are easy to resolve
4. [ ] Continue Annotation expansion.
5. [ ] Optimize. I feel like speed can be improved a lot.

[2019-05-14 11:42] zurk opened #762 "Finalize typos analyzer"
@irinakhismatullina mentioned that there are some uncommitted results that should be finalized.

@irinakhismatullina, please add anything you need from your last experiments.

[2019-05-21 15:46] vmarkovtsev commented on #674
@zurk @m09 Any updates?

[2019-05-21 15:48] vmarkovtsev opened #768 "Run the basic formatting checks over the research code"
We should run the basic PEP8 checks over the code in `research`. `pycodestyle --max-line-length=99`, no more than that.

[2019-05-22 09:54] zurk commented on #608
close as outdated, because vnodes number check is not required anymore

[2019-05-22 09:54] #608 closed

[2019-05-22 10:00] zurk commented on #578
duplicate of https://github.com/src-d/style-analyzer/issues/666

[2019-05-22 10:00] #578 closed

[2019-05-22 10:31] zurk commented on #674
@m09 can I ask you to check report at our new cluster? A Directory with all old from science-3 should be there.

If there are no reports for some reason or you are not sure they are correct, tell me, I will repeat experiment one more time.

[2019-05-22 10:40] zurk commented on #526
@vmarkovtsev let's close this one. This issue related to old refactoring phase. Some of the TODOs were solved, but we have a bunch of new TODOs already, but it is another story.

[2019-05-22 10:47] #768 closed

[2019-05-23 12:37] zurk commented on #754
@irinakhismatullina I think this one was done, wasn't it?

[2019-05-23 12:39] irinakhismatullina commented on #754
Nope, we just put upper boundary on the gensim version.

[2019-06-03 10:04] vmarkovtsev opened #776 "Make "train" dependencies optional"
Some of our Python dependencies are only used for pretraining some models, e.g. typos. We need to add a "train" option to setup.py so that they are not installed by default.

[2019-06-11 14:32] irinakhismatullina opened #779 "Make typos analyzer actually work out-of-the-box"
Right now due to some problems with dependencies and/or dockerfiles typos analyzer doesn't work out-of-the-box. We need to solve them and finally demo the analyzer.

[2019-06-11 14:34] vmarkovtsev commented on #779
@irinakhismatullina We also need to adjust our CI to actually check that things work out of the box.

[2019-06-11 14:37] irinakhismatullina commented on #779
Agree.

[2019-07-04 09:45] irinakhismatullina commented on #689
Not needed anymore

[2019-07-04 09:45] #689 closed

[2019-07-04 09:47] irinakhismatullina commented on #583
Closed in #709

[2019-07-04 09:47] #583 closed

[2019-07-04 09:50] irinakhismatullina commented on #246
Done in #757

[2019-07-04 09:50] #246 closed

[2019-07-09 10:35] zurk commented on #779
So, this issue should be solved several days before the demo.

[2019-08-05 09:16] irinakhismatullina commented on #779
cc @vmarkovtsev  Right now the command
```analyzer package lookout.style.typos -y -u github-user -t token -r github-user/repo -w /tmp/pkg```
fails for me with
[code]

Also there's a ton of inconsistencies with the `modelforge` version.

[2019-08-20 09:08] zurk commented on #521
@vmarkovtsev @m09 I suggest to close this issue and open another one when we need to continue code refactoring with annotation